{*
    * We offer the best and most useful modules PrestaShop and modifications for your online store.
    *
    * We are experts and professionals in PrestaShop
    *
    * @author    PresTeamShop.com <support@presteamshop.com>
    * @copyright 2011-2018 PresTeamShop
    * @license   see file: LICENSE.txt
    * @category  PrestaShop
    * @category  Module
*}

<div class="row {if isset($productLast) and $productLast && (not isset($ignoreProductLast) or !$ignoreProductLast)}last_item{elseif isset($productFirst) and $productFirst}first_item{/if} {if isset($customizedDatas.$productId.$productAttributeId) AND $quantityDisplayed == 0}alternate_item{/if} cart_item address_{$product.id_address_delivery|intval}"
     id="product_{$product.id_product|intval}_{$product.id_product_attribute|intval}_0_{$product.id_address_delivery|intval}{if !empty($product.gift)}_gift{/if}">
    <div class="col-md-1 col-xs-3 col-3 text-md-center image_product">
        <a href="{$product.url}" title="{$product.name}">
            <img class="img-fluid media-object" src="{$product.cover.small.url}" alt="{$product.name}">
        </a>
        {if $CONFIGS.OPC_SHOW_ZOOM_IMAGE_PRODUCT}
            <div class="image_zoom">
                <img class="media-object" src="{$product.cover.medium.url}" alt="{$product.name}">
            </div>
        {/if}
    </div>
    <div class="col-md-{if $CONFIGS.OPC_SHOW_UNIT_PRICE}4{else}6{/if} col-xs-9 col-9 cart_description">
        <p class="s_title_block">
            <a href="{$product.url}" title="{$product.name}">
                {$product.name}
                {if $product.reference and $CONFIGS.OPC_SHOW_REFERENCE}
                    <span class="product_reference">
                        ({l s='Ref.' mod='onepagecheckoutps'}&nbsp;{$product.reference})
                    </span>
                {/if}
            </a>
        </p>
        {if isset($product.attributes) && $product.attributes}
            <span class="product_attributes">
                {foreach from=$product.attributes key="attribute" item="value"}
                    <div class="product-line-info">
                        <span class="">{$attribute}:</span>
                        <span class="">{$value}</span>
                    </div>
                {/foreach}
            </span>
        {/if}

        {if !empty($product.customizations)}
            <span>
                <strong>{l s='Customization' mod='onepagecheckoutps'}:</strong>
                {foreach $product.customizations as $customization}
                    {foreach $customization.fields as $key => $field}
                        {if $key > 0}, {/if}{$field.label}: {$field.text}
                    {/foreach}
                {/foreach}
            </span>
        {/if}

        {if isset($mega)}
            {if isset($mega.extraAttrLong)}{$mega.extraAttrLong nofilter}{/if}
            <br/>
            <strong>{$mega.measure}</strong>
            {if isset($mega.personalization) && $mega.personalization neq ''}
                <br/><div class="mp-personalization">{$mega.personalization nofilter}</div>
            {/if}
        {/if}

        {if $product.weight neq 0 and $CONFIGS.OPC_SHOW_WEIGHT}
            <br/>
            <span class="product_weight">
                <strong>{l s='Weight' mod='onepagecheckoutps'}&nbsp;:&nbsp;</strong>
                {$product.weight|string_format:"%.3f"|escape:'htmlall':'UTF-8'}{$PS_WEIGHT_UNIT}
            </span>
        {/if}

        {if $ps_stock_management and $CONFIGS.OPC_SHOW_AVAILABILITY}
            <div class="cart_avail">
                <span class="badge {if $product.availability == 'available'}badge-success product-available{elseif $product.availability == 'last_remaining_items'}badge-warning product-last-items{else}badge-danger product-unavailable{/if}">
                    {if $product.quantity_available <= 0}
                        {if isset($product.available_later) && $product.available_later}
                            {$product.available_later}
                        {else}
                            {$product.availability_message}
                        {/if}
                    {else}
                        {if $product.quantity > $product.quantity_available}
                            {if isset($product.available_later) && $product.available_later}
                                {$product.available_later}
                            {else}
                                {$product.availability_message}
                            {/if}
                        {else}
                            {if isset($product.available_now) && $product.available_now}
                                {$product.available_now}
                            {else}
                                {$product.availability_message}
                            {/if}
                        {/if}
                    {/if}
                </span>
                {if !$product.is_virtual}{hook h="displayProductDeliveryTime" product=$product}{/if}
            </div>
        {/if}
    </div>

    <div class="hidden-sm-up row clear"></div>

    {if $CONFIGS.OPC_SHOW_UNIT_PRICE}
        <div class="col-xs-3 col-2 text-md-right hidden-sm-up">
            <label><b>{l s='Unit price' mod='onepagecheckoutps'}:</b></label>
        </div>
        <div class="col-md-2 col-xs-9 col-9 text-md-center text-xs-left text-sm-left">
            <span class="" id="product_price_7_34_0">
                <span class="price special-price">{if isset($mega)}{$mega.spricewt}{else}{$product.price}{/if}</span>
                <br>
                {if $product.price neq $product.regular_price}
                    <span class="old-price">{$product.regular_price}</span>
                {/if}
                {if $product.discount_type eq 'amount' and $product.discount_amount neq ''}
                    <span class="price-percent-reduction small">({$product.discount_amount})</span>
                {elseif $product.discount_type eq 'percentage' and $product.discount_percentage neq ''}
                    <span class="price-percent-reduction small">({$product.discount_percentage})</span>
                {/if}
            </span>
            {if $product.unit_price_full}
                <div class="unit-price-cart">{$product.unit_price_full}</div>
            {/if}
        </div>
    {/if}

    <div class="hidden-sm-up row clear"></div>

    <div class="col-xs-3 col-3 text-md-right hidden-sm-up">
        <label><b>{l s='Quantity' mod='onepagecheckoutps'}:</b></label>
    </div>
    <div class="col-md-2 col-xs-9 col-9 text-md-center">
        <div class="input-group bootstrap-touchspin">
            <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
            {if isset($mega)}
                <span class="cart-line-product-quantity">{$mega.quantity}</span>
            {else}
                <input
                    class="form-control form_checkout-product_line cart-line-product-quantity"
                    data-down-url="{$product.down_quantity_url}{if isset($mega)}&id_megacart={$mega.id_megacart}{/if}"
                    data-up-url="{$product.up_quantity_url}{if isset($mega)}&id_megacart={$mega.id_megacart}{/if}"
                    data-update-url="{$product.update_quantity_url}{if isset($mega)}&id_megacart={$mega.id_megacart}{/if}"
                    data-product-id="{$product.id_product}"
                    {if isset($mega)}data-mega-id="{$mega.id_megacart}"{/if}
                    type="text"
                    value="{$product.quantity}"
                    name="product-quantity-spin"
                >
            {/if}
            <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
            {if !isset($mega)}
                <span class="input-group-btn-vertical input-group-btn-vertical--checkout">
                <button class="btn-touchspin js-touchspin bootstrap-touchspin-up" type="button">
                    <i class="material-icons touchspin-up"></i>
                </button>
                <button class="btn-touchspin js-touchspin bootstrap-touchspin-down" type="button">
                    <i class="material-icons touchspin-down"></i>
                </button>
                </span>
            {/if}
        </div>

        {hook h='displayCartExtraProductActions' product=$product}
    </div>

    <div class="hidden-sm-up row clear"></div>

    <div class="col-xs-3 col-3 text-md-right hidden-sm-up">
        <label><b>{l s='Total' mod='onepagecheckoutps'}:</b></label>
    </div>
    <div class="col-md-2 col-xs-9 col-9 text-md-right text-xs-left text-sm-left">
        <span class="product-price pull-right">{if isset($mega)}{$mega.stotalwt}{else}{$product.total}{/if}</span>
    </div>
    <div class="checkout_product-delete">
                <a
                class                       = "remove-from-cart"
                rel                         = "nofollow"
                href                        = "{$product.remove_from_cart_url}{if isset($mega)}&id_megacart={$mega.id_megacart}{/if}"
                data-link-action            = "delete-from-cart"
                data-id-product             = "{$product.id_product|escape:'javascript'}"
                data-id-product-attribute   = "{$product.id_product_attribute|escape:'javascript'}"
                data-id-customization   	= "{$product.id_customization|escape:'javascript'}"
            >
                <img src="/themes/shvindler/assets/images/trash_icon.png" alt="">
            </a>
    </div>
</div>