@charset "UTF-8";

@font-face {
  font-family: "mt";
  src:url("/modules/magicthumb/views/css/../fonts/mt.eot");
  src:url("/modules/magicthumb/views/css/../fonts/mt.eot?#iefix") format("embedded-opentype"),
    url("/modules/magicthumb/views/css/../fonts/mt.woff") format("woff"),
    url("/modules/magicthumb/views/css/../fonts/mt.ttf") format("truetype"),
    url("/modules/magicthumb/views/css/../fonts/mt.svg#untitled-font-2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^="mt-icon-"]:before,
[class*=" mt-icon-"]:before {
  font-family: "mt" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mt-icon-remove:before {
  content: "b";
}
.mt-icon-check-mark-two:before {
  content: "a";
}
.mt-icon-check-mark:before {
  content: "c";
}
.mt-icon-remove-1:before {
  content: "d";
}
.mt-icon-unlock:before {
  content: "e";
}
.mt-icon-unlock-alt:before {
  content: "f";
}
.mt-icon-lock-open:before {
  content: "g";
}
.mt-icon-lock:before {
  content: "h";
}
.mt-icon-lock-1:before {
  content: "i";
}
.mt-icon-unlock-2:before {
  content: "j";
}
.mt-icon-question:before {
  content: "k";
}
.mt-icon-social-facebook:before {
  content: "l";
  color:#49629b;
}
.mt-icon-social-google-plus:before {
  content: "m";
  color:#d73d32;
}
.mt-icon-social-twitter:before {
  content: "n";
  color:#67b1e9;
}
.mt-icon-social-youtube:before {
  content: "o";
  color:#df2826;
}
.mt-icon-chevron-down:before {
  content: "p";
}
.mt-icon-chevron-up:before {
  content: "q";
}
.mt-icon-trash:before {
  content: "r";
}
.mt-icon-edit:before {
  content: "s";
}
.mt-icon-repeat:before {
  content: "t";
}

.mt-icon-pencil:before {
  content: "u";
}
