.titan_mobile {
  display: none;
}

.titan_mobile-hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titan_mobile-hero img {
  width: 70%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 150px;
}

.titan_mobile-hero-label {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 150px;
}

.titan_mobile-hero-label img {
  padding: 0;
  width: 100%;
}

.titan_mobile-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titan_mobile-block h2 {
  font-size: 25px;
  color: #333333;
  text-align: center;
}

.titan_mobile-block p {
  font-size: 16px;
  color: #666666;
  text-align: center;
}

.titan_mobile-block img {
  width: 90%;
  margin: 20px auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.titan_mobile-block-bg {
  background: url(/img/poseidon-move-bg.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.titan_mobile-block_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titan_mobile-block_gallery-item {
  position: relative;
  width: 30%;
  padding: 10px;
}

.titan_mobile-block_gallery-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.titan_mobile-block_gallery-item p {
  font-size: 16px;
  color: #fff !important;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.titan_mobile_block-img_text {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
  text-align: center;
  width: 80%;
}

.titan_mobile_block-img_text p {
  font-size: 25px;
}

.titan_mobile_block-img_text span {
  font-size: 18px;
}

.titan_mobile-img_translate {
  margin-top: -220px !important;
  padding: 0 30px;
}

.titan_mobile-block_list {
  width: 90%;
  margin: auto;
}

.titan_mobile-block_list h4 {
  font-size: 15px;
  color: #333333;
}

.titan_mobile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.titan_mobile-list ul {
  width: 50%;
  font-size: 10px;
  color: #333333;
  line-height: 2;
}

.titan_mobile-img_full {
  width: 100% !important;
  padding: 0;
  margin: 0;
}

.titan_mobile_block-img {
  position: relative;
}

.titan_mobile_block-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.titan_mobile-block_gallery-item--trident {
  width: 45%;
}

.titan_mobile-block_gallery-item--trident img {
  width: 100%;
}

@media (max-width: 560px) {
  .titan_mobile-block_gallery-item--trident {
    width: 90%;
    margin: auto;
  }
}
/*# sourceMappingURL=titan.css.map */