
/* NOTE: contaner with main image and selector's container */
div.MagicToolboxContainer {
    text-align: center;
}
div.MagicToolboxContainer.minWidth {
    min-width: 250px;
}

/* NOTE: main image styles */
div.MagicToolboxContainer > a {
    margin: 0 auto;
}

/* NOTE: container with selectors */
div.MagicToolboxSelectorsContainer {
    clear: both;
}

/* NOTE: selectors styles */
div.MagicToolboxSelectorsContainer a {
    display: inline-block;
    margin: 4px !important;
}

/* NOTE: contaner with message under Magic Zoom Plus */
div.MagicToolboxMessage {
    text-align: center;
}

/* NOTE: styles for templates */

div.MagicToolboxSelectorsContainer img {
    max-height: 54px;
    width: 54px;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
}

/* NOTE: selectors on the bottom */
div.MagicToolboxContainer.selectorsBottom .MagicToolboxSelectorsContainer {
    padding-top: 5px;
}

/* NOTE: selectors on the top */
div.MagicToolboxContainer.selectorsTop .MagicToolboxSelectorsContainer {
    padding-bottom: 5px;
}




/* NOTE: to highlight magic360 selector (magiczoom(plus) + magic360) */
.zoom-with-360.mz-thumb-selected img {
    -webkit-filter: none;
    filter: none;
}
.zoom-with-360.mz-thumb:hover:not(.active-selector) img,
.zoom-with-360.m360-selector:hover:not(.active-selector) img {
    -webkit-filter: brightness(70%) !important;
    filter: brightness(70%) !important;
}
.zoom-with-360.active-selector img {
    -webkit-filter: brightness(50%) !important;
    filter: brightness(50%) !important;
}
/* NOTE: IE fix */
.no-cssfilters-magic .zoom-with-360.mz-thumb-selected img {
    opacity: 1;
    filter: alpha(opacity=100);
}
/*.no-cssfilters-magic .zoom-with-360.mz-thumb,*/
.no-cssfilters-magic .zoom-with-360.m360-selector {
    background: #000;
}
/*.no-cssfilters-magic .zoom-with-360.mz-thumb:hover:not(.active-selector) img,*/
.no-cssfilters-magic .zoom-with-360.m360-selector:hover:not(.active-selector) img {
    opacity: .7;
    filter: alpha(opacity=70);
}
.no-cssfilters-magic .zoom-with-360.active-selector img {
    opacity: .5;
    filter: alpha(opacity=50);
}
/*.mz-thumb, .mz-thumb:focus,*/
.zoom-with-360.m360-selector, .zoom-with-360.m360-selector:focus {
    display: inline-block;
    line-height: 0;
    outline: none;
}
/* NOTE: border for magic360 selector */
.zoom-with-360.m360-selector img {
    border: 0;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.3);
    box-sizing: border-box;
}
.ie9-magic .zoom-with-360.m360-selector {
    box-shadow: 0 0 4px 0px rgba(0,0,0,0.3);
}

/* NOTE: magicscroll makes the image smaller if there is a margin */
/*
.MagicScrollItem a {
    margin: 0 !important;
}
*/


div.MagicToolboxContainer.selectorsLeft,
div.MagicToolboxContainer.selectorsRight {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;        
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer,
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer {
    min-height: 300px;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxMainContainer,
div.MagicToolboxContainer.selectorsRight .MagicToolboxMainContainer {
    flex-grow: 1;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxMainContainer,
div.MagicToolboxContainer.selectorsRight .MagicToolboxMainContainer {
    font-size:0px;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer a,
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer a {
    margin:0 0 10px 0;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer {

}
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer {
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxMainContainer {
    width: auto;
    padding-left: 10px;
}
div.MagicToolboxContainer.selectorsRight .MagicToolboxMainContainer {
    width: auto;
    padding-right: 10px;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer,
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer .MagicScroll,
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer .MagicScroll {
    height: 100%;
    flex:1;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer .MagicScroll a, 
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer .MagicScroll a { 
    margin: 0; 
}

@media only screen and (max-width: 767px) {
    div.MagicToolboxContainer.selectorsLeft,
    div.MagicToolboxContainer.selectorsRight {
        flex-direction: column;
    }
    div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer,
    div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer {
        order:2;
        width: 100% !important;        
        margin-bottom:10px;
        min-height: 0px;
        flex:auto;
        flex-basis: auto !important;
    }
    div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer a,
    div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer a {
        margin:10px 5px;
    }

    div.MagicToolboxContainer.selectorsLeft .MagicToolboxMainContainer,
    div.MagicToolboxContainer.selectorsRight .MagicToolboxMainContainer {
        order:1;
        padding:0px; 
    }
    div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer:after,
    div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer:after {
        content: none;
    }
    div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer .MagicScroll,
    div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer .MagicScroll {
        height: auto;
    }
    div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer .MagicScroll, 
    div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer .MagicScroll { 
        margin: 10px 0 0 0; 
    }
}

.hidden-important {
    display: none !important;
}
/*
#center_column, #left_column, #right_column {
    overflow: visible !important;
}
*/
#primary_block #image-block {
    height: auto;
}
.hidden-selector {
    display: none !important;
}
/* product list PrestaShop 1.5.x */
#product_list .MagicToolboxContainer {
    border: 1px solid #ccc;
    float: left;
    margin-right: 14px;
    position: relative;
    overflow: hidden;
}
#product_list .MagicToolboxContainer span.new {
    z-index: 100;
}
/* side blocks in PrestaShop 1.5.x */
.block.products_block li .MagicToolboxContainer {
    float: left;
    border: 1px solid #d1d1d1;
}
/* product list PrestaShop 1.6 */
ul.product_list .product-image-container .MagicZoom ~ a.quick-view,
ul.product_list .product-image-container .MagicZoom ~ div.content_price,
ul.product_list .product-image-container .MagicZoom ~ a.new-box,
ul.product_list .product-image-container .MagicToolboxContainer ~ a.quick-view,
ul.product_list .product-image-container .MagicToolboxContainer ~ div.content_price,
ul.product_list .product-image-container .MagicToolboxContainer ~ a.new-box {
    z-index: 100;
}
/* side blocks in PrestaShop 1.6 */
.block .products-block li .MagicToolboxContainer {
    float: left;
    border: 1px solid #D6D4D4;
    margin-right: 19px;
}

/* NOTE: fix image width for magic360 selector (to overrride css rule: .pb-left-column #image-block img) */
.pb-left-column #image-block .m360-selector img {
    width: auto;
}
/*
body#product #page > #columns {
    z-index: auto;
}
*/
/* fix issue with opacity-reverse option */
/*
.MagicZoomPup > img {
    max-width: none;
}
*/
/*
.primary_block .pb-left-column .MagicZoomPup > img {
    max-width: none;
}
*/

/* NOTE: original template in PrestaShop 1.7 */
.mt-images-container .product-images > li.thumb-container > .thumb {
    margin-right: 0.8125rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}
/* NOTE: category page in PrestaShop 1.7 */
#products .thumbnail-container:hover .highlighted-informations/* ,
.featured-products .thumbnail-container:hover .highlighted-informations::after,
.product-accessories .thumbnail-container:hover .highlighted-informations::after */ {
    z-index: 1000;
}
#products .product-flags,
.featured-products .product-flags {
    z-index: 100;
}
#main .mt-images-container .js-qv-mask {
    white-space: nowrap;
    overflow: hidden;
}
.thumb-container {
	border: 1px solid #ccc;
    margin: 3px;
    height: 64px;
    width: 64px;
}

/* NOTE: align thumbnails for original template */

.mt-ps-1451x #thumbs_list_frame li > a,
.mt-ps-15x #thumbs_list_frame li > a,
.mt-ps-16x #thumbs_list_frame li > a {
    width: 100%;
    height: 100%;
    text-align: center;
}
.mt-ps-1451x #thumbs_list_frame li > a:before,
.mt-ps-15x #thumbs_list_frame li > a:before,
.mt-ps-16x #thumbs_list_frame li > a:before {
  content: '';
  display: inline-block;
  min-height: inherit;
  height: 100%;
  vertical-align: middle;
}
.mt-ps-1451x #thumbs_list_frame li > a img,
.mt-ps-15x #thumbs_list_frame li > a img,
.mt-ps-16x #thumbs_list_frame li > a img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    margin: 0;
}

.magic-slide {
    display: none;
}
.magic-slide.mt-active {
    display: block;
}

.mt-ps-1451x .MagicToolboxSelectorsContainer a,
.mt-ps-15x .MagicToolboxSelectorsContainer a {
    vertical-align: middle;
}

/* NOTE: to highlight thumbnails (magiczoomplus + magic360 + videos) */

[data-magic-slide-id].m360-selector,
[data-magic-slide-id].m360-selector:focus,
[data-magic-slide-id].video-selector,
[data-magic-slide-id].video-selector:focus {
    display: inline-block;
    line-height: 0;
    outline: none;
}
.MagicScroll > [data-magic-slide-id].video-selector:nth-child(n+2) {
    display: none;
}

[data-magic-slide-id].m360-selector img,
[data-magic-slide-id].video-selector img {
    border: 0;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.3);
    box-sizing: border-box;
}
.ie9-magic [data-magic-slide-id].m360-selector,
.ie9-magic [data-magic-slide-id].video-selector {
    box-shadow: 0 0 4px 0px rgba(0,0,0,0.3);
}

[data-magic-slide-id].mz-thumb-selected img {
    -webkit-filter: none;
    filter: none;
}
[data-magic-slide-id].mz-thumb:hover:not(.active-selector) img,
[data-magic-slide-id].m360-selector:hover:not(.active-selector) img,
[data-magic-slide-id].video-selector:hover:not(.active-selector) img {
    -webkit-filter: brightness(75%) !important;
    filter: brightness(75%) !important;
}
[data-magic-slide-id].active-selector img {
    -webkit-filter: brightness(60%) !important;
    filter: brightness(60%) !important;
}

.no-cssfilters-magic [data-magic-slide-id].mz-thumb-selected img {
    opacity: 1;
    filter: alpha(opacity=100);
}
.no-cssfilters-magic [data-magic-slide-id].m360-selector,
.no-cssfilters-magic [data-magic-slide-id].video-selector {
    background: #000;
}
.no-cssfilters-magic [data-magic-slide-id].m360-selector:hover:not(.active-selector) img,
.no-cssfilters-magic [data-magic-slide-id].video-selector:hover:not(.active-selector) img {
    opacity: .75;
    filter: alpha(opacity=75);
}
.no-cssfilters-magic [data-magic-slide-id].active-selector img {
    opacity: .6;
    filter: alpha(opacity=60);
}

/* NOTE: to add 'play' icon over video thumbnails */
a[data-magic-slide-id^=video] {
    position: relative;
}
a[data-magic-slide-id^=video] span {
    position: absolute;
    color: #fff;
    text-shadow: 0px 1px 10px #000;
    top: 50% !important;
    left: 50% !important;
    display: inline-block;
    transform: translateY(-50%) translateX(-50%) !important;
    -webkit-transform: translateY(-50%) translateX(-50%) !important;
    z-index: 100;
    width: 36px !important;
    height: 36px !important;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.3) !important;
    background-size: 50%;
    background-position: center center;
}
a[data-magic-slide-id^=video] span:before {
    content: '';
    width: 12px;
    height: 16px;
    border-top: 8px solid transparent;
    border-left: 12px solid rgba(255,255,255,0.7);
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    margin-left: 1px;
    box-sizing: border-box !important;
}
a[data-magic-slide-id^=video]:hover span {
    background-color: rgba(0,0,0,0.7) !important;
}
a[data-magic-slide-id^=video]:hover span:before {
    border-left-color: rgba(255,255,255,1);
}
/* NOTE: for video frame */
div[data-magic-slide^="video"] {
   position: relative;
   overflow: hidden;
   max-width: 100%;
   padding-bottom: 56.25%;
   height: 0;
   height: auto;
}
div[data-magic-slide^="video"] iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100% !important;
   height: 100% !important;
}
