.af .tab-content {
	max-width: 1000px;
}
#content.bootstrap .af .tab-content h3 {
	padding: 0 20px;
	height: 37px;
	line-height: 37px;
	border-bottom: 1px dashed #DDD;
	margin: -20px -20px 15px -20px;
}
#content.bootstrap .af .tab-content h3.in-the-middle {
	margin-top: 15px;
	clear: both;
	border-top: 1px dashed #DDD;
}
.special-fields-group {
	padding-top: 5px;
}
.af_template {
	background: #F2F5F5;
	border: 1px solid #E2EEEE;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 15px;
}

.af_template h4 {
	margin: 0;
	font-size: 17px;
	line-height: 27px;
}
.template-name,
.template-controller,
.template-actions {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.template-controller {
	padding: 0 10px;
}
.af_template.open .template-name,
.af_template.open .template-controller {
	width: 40%;
}
.af_template:not(.open) .open-view,
.af_template.open .list-view {
	display: none;
}

.af_template .template_settings {
	padding-top: 15px;
}
/* template tabs */
a.template-tab-option {
	text-transform: uppercase;
	margin: 0 -1px -1px 0;
	padding: 10px;
	color: #CCC;
	background: #FAFAFA;
	display: inline-block;
	border: 1px solid #DDD;
	position: relative;
	z-index: 1;
}
.template-tab-option.first {
	border-radius: 5px 0 0 0;
}
.template-tab-option.last {
	border-radius: 0 5px 0 0;
}
a.template-tab-option.active {
	color: #555;
	background: #FFF;
	border-bottom-color: #FFF;
}
.template-tab-content {
	padding: 10px;
	background: #FFF;
	border: 1px solid #DDD;
	border-radius: 0 5px 5px 5px;
	margin-bottom: 20px;
	display: none;
}
.template-tab-content.active {
	display: block;
}
.bootstrap .template-name input[type="text"],
.template-controller select {
	background: #FFF;
	border-radius: 5px;
}

.controller-settings .basic-item {
	position: relative;
	margin-bottom: 15px;
}

/* additional settings */
.additional-settings-count {
	background: #DDD;
	color: #FFF;
	border-radius: 10px;
	padding: 1px 7px;
	margin-left: 2px;
}
.template-tab-option.active .additional-settings-count {
	background: #03AFF0;
}
.lock-overlay {
	position: absolute;
	left: 0;
	right: 20px;
	top: 0;
	bottom: 0;
	background: #FFF;
	border: 1px dashed #DDD;
	border-radius: 4px;
	padding: 0 5px;
	z-index: 10;
}
.lock-overlay .txt {
	line-height: 30px;
	color: #999;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
a.lock-toggle {
	color: #CCC;
	position: absolute;
	right: 5px;
	top: 7px;
	z-index: 1;
}
a.lock-toggle:hover i, a.lock-toggle:focus i {
	color: #CCC;
}
.unlocked .lock-toggle .icon-unlock-alt {
	color: #03AFF0;
}
.locked .icon-unlock-alt,
.unlocked .icon-lock, .unlocked .lock-overlay {
	display: none;
}
.settings-input.locked,
.settings-input.unlocked {
	padding-right: 20px;
}
.bootstrap .settings-input.locked .prestashop-switch .slide-button.btn {
	border-radius: 5px;
}
.settings-input {
	position: relative;
}

/* indexation */
.indexation-data {
	margin: 30px 0 0 0;
}
.shop-indexation-data {
	padding: 10px 15px;
	border: 1px solid #DDD;
	margin-bottom: 15px;
}
.shop-indexation-data .shop-name {
	font-weight: bold;
	color: #CCC;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.shop-indexation-data.complete .shop-name {
	color: #71B238;
}
.shop-indexation-data.complete {
	border-color: #71B238;
}
.shop-indexation-data .count {
	font-size: 1.5em;
}
.shop-indexation-data .progress {
	margin: 7px 0 0 0;
}
.indexation-actions {
	margin-top: 5px;
}
.indexation-data a.eraseIndex {
	color: #BBB;
	display: inline-block;
	text-decoration: none;
}
.indexation-warning {
	float: right;
}
.indexation-buttons .ajax-status,
.indexation-buttons .stop,
.indexation-buttons.running .btn-success .start,
.shop-indexation-data .progress,
.shop-indexation-data.running .indexation-actions,
.visible-on-complete {
	display: none;
}
.indexation-buttons.running .ajax-status,
.indexation-buttons.running .btn-success .stop,
.shop-indexation-data.running .progress  {
	display: block;
}
.bootstrap .btn.btn-success i {
	color: #FFF;
}
.complete .visible-on-complete {
	display: inline-block;
}
.indexation-buttons .ajax-status {
	color: #999;
	margin-bottom: 15px;
}
.bootstrap .indexation-data .grid-item {
	position: static;
}
.cron-block {
	position: absolute;
	z-index: 10;
	border: 1px solid #DDD;
	border-radius: 5px;
	padding: 10px;
	left: 10px;
	right: 10px;
	background: #FAFAFA;
	margin-top: 10px;
	display: none;
}
.show-cron .cron-block {
	display: block;
}
.toggle-cron {
	position: relative;
}
.show-cron .toggle-cron:before,
.show-cron .toggle-cron:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	z-index: 11;
	border: 8px solid #DDD;
	border-color: transparent transparent #DDD;
}
.show-cron .toggle-cron:after {
	border-color: transparent transparent #FAFAFA;
	bottom: -11px;
}
.bootstrap h4.cron-title {
	color: #BBB;
	margin: 0 0 5px 0;
}
.cron-row {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #DDD;
}
.bootstrap .close-cron {
	position: absolute;
	right: -1px;
	top: -1px;
	padding: 0 5px;
	border: 1px solid #DDD;
	border-radius: 0 5px 0 5px;
	background: #FFF;
	color: #CCC;
}

/* activate/deactivate */
.activateTemplate {
	padding: 1px 0;
	margin: 0 15px 0 0;
	vertical-align: middle;
	float:left;
}

.activateTemplate i {
	display:none;
}
.activateTemplate.action-enabled i.icon-check {
	display:inline-block;
}

.activateTemplate.action-disabled i.icon-remove {
	display:inline-block;
}

/* template actions */
.af_template  .template-actions .scrollUp,  .af_template.open .template-actions .editTemplate{
	display:none;
}

.af_template.open .template-actions .scrollUp {
	display: inline-block;
}

.af_template.open.category .template-actions .scrollUp {
	border-radius: 3px 0 0 3px!important;
}

.af_template:not(.category) .template-actions .btn-group > a {
	border-radius: 3px!important;
}
label .prefix {
	color: #999;
}

/* filters */
.af_template label {
	font-weight: normal;
}
.template_settings .filter {
	padding: 7px;
	margin-bottom: 5px;
	background: #FAFAFA;
	border-radius: 3px;
	border: 1px solid #DDD;
	white-space: nowrap;
	cursor: move;
}
.filter .prefix {
	color: #999;
	display: block;
	font-size: 0.9em;
}
.f-name {
	display: inline-block;
	vertical-align: middle;
	max-width: 40%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.f-actions {
	margin-top: 5px;
}
.f-actions a {
	font-size: 16px;
	color: #DDD;
	margin-left: 5px;
	vertical-align: middle;
}
.f-quick-settings select,
.f-quick-settings input[type="text"],
.f-quick-settings .prestashop-switch {
	width: 90px;
	margin: 0 10px 0 5px;
}
.f-quick-settings .inline-block {
	vertical-align: middle;
	color: #999;
}
.f-list .f-quick-settings .checkbox-label {
	font-size: 10px;
	text-transform: uppercase;
	color: #999;
	line-height: 31px;
	margin: 0;
}
.f-settings {
	cursor: default;
	background: #FEFEFE;
	border-top: 1px solid #DDD;
	margin: 5px -7px -7px;
	padding: 15px 7px 0;
	border-radius: 0 0 4px 4px;
	display: none;
}
.show-settings .f-settings {
	display: block;
}
.show-settings .toggleFilterSettings {
	transform: rotate(45deg);
}
.toggleFilterSettings {
	transition: transform .2s;
}
.af_template .multilang-selector {
	position: absolute;
	top: 0;
	right: -45px;
}
.af_template .multilang-selector .btn {
	width: 40px;
}
.f-settings .prestashop-switch {
	min-height: 28px;
}
.f-settings .prestashop-switch label {
	line-height: 28px;
}
.bootstrap .addNewFilter {
	display: block;
	background: #FFF;
	border: 1px dashed #CCC;
	border-radius: 3px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	line-height: 40px;
	color: #CCC;
}
.bootstrap .addNewFilter:hover {
	background: #00AFF0;
	color: #FFF;
	border: 1px solid #00AFF0;
}
#dynamic-popup .dynamic-content {
	padding: 10px;
}
#dynamic-popup .modal-title {
	margin: 0;
	font-size: 18px;
	text-transform: uppercase;
}
#dynamic-popup .close {
	margin-top: -19px;
}

/* multiple options */
.selected-options-inline {
	border-radius: 5px;
	padding: 0 10px;
	line-height: 31px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	border: 1px solid #DDD;
	background: #FFF;
}
.selected-options-inline.dynamic-name {
	padding-right: 70px;
}
.has-selection .selected-options-inline {
	border: solid 1px #00aff0;
	background: #E7F8FF;
}
.selected-options-inline .total {
	opacity: 0.7;
	position: absolute;
	right: 21px;
}
.selected-options-inline .toggleIndicator {
	position: absolute;
	right: 5px;
	margin-top: 8px;
}
.has-selection .selected-options-inline.dynamic-name .all,
.selected-options-inline .selected-items,
.selected-options-inline .total {
	display: none;
}
.has-selection .selected-options-inline .selected-items,
.has-selection  .selected-options-inline .total {
	display: inline-block;
}
.available-options {
	margin: 3px 0 0 0;
	background: #FEFEFE;
	border-radius: 5px;
	border: 1px solid #DDD;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	overflow: hidden;
	position: relative;
}
.available-options .hideOptions {
	position: absolute;
	top: -1px;
	right: -1px;
	border: 1px solid #DDD;
	border-radius: 0 5px 0 5px;
	padding: 5px 10px;
	background: #FAFAFA;
	color: #999;
}
.opt-level.root {
	padding: 10px 10px 35px 10px;
	min-height: 100px;
	max-height: 500px;
	overflow-y: scroll;
}
.bootstrap .opt-label > input, .opt-label > span,
.opt-label > a, .opt-action i, .checked-num {
	vertical-align: middle;
	margin-top: 0;
}
.opt-level.child {
	margin-left: 25px;
}
.opt .opt-label {
	font-weight: normal;
	padding: 2px 5px;
	border-radius: 3px;
	margin: 1px 0;
}
.opt-label:hover {
	background: #EEE;
}
.opt-label.checked {
	background: #00AFF0;
	color: #FFF;
}
.opt-label a.toggleChildren {
	color: #555;
	margin: 0 2px 0 2px;
	text-decoration: none;
}
.opt-label.checked a.toggleChildren {
	color: #FFF;
}
.opt.closed .opt-level {
	display:none;
}
.opt.closed > label > .toggleChildren:before {
	content: '\f07b';
}
.opt .checked-num {
	color: #999;
	font-style: italic;
	font-size: 0.9em;
}
.opt-id {
	margin-left: 3px;
	opacity: 0.5;
}
.opt-label.checked .opt-id {
	opacity: 0.7;
}
.opt-name {
	margin-left: 3px;
}
.options-footer {
	position: absolute;
	bottom: 1px;
	left: 1px;
	right: 1px;
	background: #FAFAFA;
	padding: 5px 10px;
	border-top: 1px solid #DDD;
	border-radius: 0 0 5px 5px;
	color: #888;
}
label.opt-action {
	cursor: pointer;
	margin: 0 5px;
	font-weight: normal;
}
.opt-action i {
	color: #666;
}

.sortable-filter-placeholder {
	background: #FFF;
	border-radius: 3px;
	border: 1px dashed #71B238;
	margin-bottom: 5px;
	height: 48px;
}

.ok {
	color:#71B238!important;
}

.module_list h4 {
	margin: 20px 0;
}

.bootstrap .customer-filters input[type="checkbox"] {
	margin: -3px 3px 0 0;
	vertical-align: middle;
}

/* hook settings */
.special-hook-note {
	margin: 15px 0;
}
.dynamic-positions h4 {
	text-transform: uppercase;
}
.dynamic-positions h4 .grey-note {
	margin-left: 15px;
}
.hint-arrow {
	position: absolute;
	top: 10px;
	right: -25px;
	width: 20px;
	height: 15px;
	border-style: solid;
	border-color: #CCC;
	border-radius: 0% 100% 0% 0%;
	border-width: 1px 4px 0 0;

}
.hint-arrow:before {
	content: '';
	border-top: 10px solid #CCC;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-bottom: 0px solid transparent;
	position: absolute;
	bottom: -10px;
	right: -7px;
}
.dynamic-positions {
	margin: 20px -20px -20px;
	padding: 0 20px 20px 20px;
	background: #F2F5F5;
	border-radius: 0 0 5px 5px;
}
.bootstrap .position-settings .module_col_position{
	width: 50px;
	text-align: center;
}
.bootstrap .module_list .module_list_item {
	background: #FFF;
}
.bootstrap .module_list .module_list_item.disabled {
	background: #F1F1F1;
}
.module_list_item.disabled .infoblock {
	opacity: 0.7;
}
.module_list_item .actions-enabled, .module_list_item.disabled .actions-disabled {
	display: block;
}
.bootstrap .btn.btn-default i.on {
	color: #71B238;
}
.bootstrap .btn.btn-default:hover i.on {
	color: #FFF;
}
.module_list_item .actions-disabled, .module_list_item.disabled .actions-enabled {
	display: none;
}
.bootstrap .position-settings .module_list_item.draggable{
	cursor: move;
}
.new-position-placeholder {
	background: #FFF;
	border-radius: 5px;
	border: 1px dashed #71B238;
	height: 55px;
	margin: 5px 0;
}

/* general settings */
.settings-item {
	float: left;
	width: 33.33%;
	padding: 7px 10px;
	position: relative;
}
.bootstrap .settings-label {
	margin: 0;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.label-tooltip {
	color: #3586AE;
	background-color: #edf7fb;
}
.bootstrap .prestashop-switch {
	height: 31px;
	margin-top: 0;
}
.bootstrap .prestashop-switch label {
	line-height: 31px;
}

/* overrides */
.override-item {
	margin: 15px 0;
	padding-bottom: 15px;
	border-bottom: 1px dashed #DDD;
}
.bootstrap .install-override, .bootstrap .uninstall-override, .override-status {
	display: none;
}
.override-status {
	padding: 0 3px;
	margin: 0 3px;
}
.bootstrap .override-item.installed .uninstall-override,
.bootstrap .override-item.not-installed .install-override,
.override-item.installed .override-status.alert-success,
.override-item.not-installed .override-status.alert-danger,
.override-status.alert-warning {
	display: inline-block;
}
.install-manually {
	margin: 8px 0;
}

.smaller-note {
	font-size: 0.8em;
	color: #CCC;
}
.grey-note {
	color: #BBB;
}
.field-note {
	color: #CCC;
	margin: 7px 0 0 7px;
	display: inline-block;
}
.icon-large {
	font-size: 28px;
	height: 30px;
}
.inline-block {
	display: inline-block;
}

.info-row {
	font-size: 1.2em;
	line-height: 2.5;
	color: #777;
}
.info-row i {
	font-size: 1.3em;
	width: 18px;
	margin-right: 5px;
	text-align: center;
}
.info-row a:hover, .info-row a:focus{
	text-decoration: none;
}

.warning-advice {
	margin-left: 5px;
	color: #999;
}
.code {
	display: inline-block;
	padding: 2px 3px;
	background: #F9E9C3;
	color: #999;
	line-height: 1;
}

/* ajax bar at the top*/
#re-progress {
	top: 0;
	height: 2px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 999999;
}
#re-progress .progress-inner {
	background-color: #71B238;
	height: 2px;
	width: 0;
}
/* general */
.bootstrap .af a {text-decoration: none;}
.bootstrap .af .btn:focus {outline: none;}
.bootstrap .tooltip-inner {padding: 7px;}
.full-width {width: 100%;}
.clear-both { clear: both;}
.uppercase {text-transform: uppercase;}
.b {font-weight:bold;}
.i {font-style:italic;}
.u {text-decoration:underline;}

/* since 2.8.2 */
