/**
* Credit card payment REDSYS platform (SERVIRED / SERMEPA)
*
* NOTICE OF LICENSE
*
* This product is licensed for one customer to use on one installation (test stores and multishop included).
* Site developer has the right to modify this module to suit their needs, but can not redistribute the module in
* whole or in part. Any other use of this module constitues a violation of the user agreement.
*
* DISCLAIMER
*
* NO WARRANTIES OF DATA SAFETY OR MODULE SECURITY
* ARE EXPRESSED OR IMPLIED. USE THIS MODULE IN ACCORDANCE
* WITH YOUR MERCHANT AGREEMENT, KNOWING THAT VIOLATIONS OF
* PCI COMPLIANCY OR A DATA BREACH CAN COST THOUSANDS OF DOLLARS
* IN FINES AND DAMAGE A STORES REPUTATION. USE AT YOUR OWN RISK.
*
*  @author    idnovate.com <info@idnovate.com>
*  @copyright 2016 idnovate.com
*  @license   See above
*/

#module-redsys-errorpayment #center_column { width: 100%; }

#order-detail-content-redsys #order-items { border-right: #ebebeb 1px solid; font-size: 15px; margin-bottom: 10px; }
#order-detail-content-redsys #order-items .item { padding: 5px 0px; }
#order-detail-content-redsys #order-items .order-line { padding: 10px 0px; }
#order-detail-content-redsys .summary { font-size: 16px; color: #414141;}
#order-detail-content-redsys .text-xs-right { text-align: right; }
#order-detail-content-redsys .summary .item span { float: right; }
#order-detail-content-redsys #order-details { font-size: 15px; }

.card .card-title {
    text-transform: uppercase;
    color: #414141;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
    padding-bottom: 10px;
}

.card {
	/*font-family: 'Open Sans', sans-serif;*/
    box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin-bottom: 20px;
}

.redsys_ok h1, .redsys_ko h1 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: #414141;
    font-weight: bold;
    padding: 10px 10px 10px 40px;
    text-transform: uppercase;
    font-size: 20px;
}

.redsys_ok h1 {
    background: url(../img/icon-valid.png) no-repeat 0px center;
}

.redsys_ko h1 {
    background: url(../img/icon-cancel.png) no-repeat 0px center;
}

.redsys_ok p, .redsys_ko p {
	font-size: 15px;
    color: #878787;
    font-weight: 400;
}

p.payment_module.redsys_module_link a img { margin-right: 15px; }
p.payment_module.redsys_module_link a { padding: 33px 40px 34px 30px; }

#iframe_tpv { min-height: 700px; width: 100%; }

.redsys-buttons-footer { text-align: center; }
.modal-footer.redsys-buttons-footer .btn { float: none !important;  }
.modal-footer.redsys-buttons-footer .btn.save_clicktopay {
    /*background-image: url('../img/credit-cards.png');
    background-position: 5px center;
    background-repeat: no-repeat;
    padding-left: 40px;  */}

#order-confirmation .fancybox-skin { padding: 0px !important; }
#order-confirmation .fancybox-skin .fancybox-inner { border-radius: 10px !important; }

#order-confirmation .fancybox-skin .fancybox-close { display: none!important; top: 5px !important; right: 5px !important; }
#order-confirmation .fancybox-skin .fancybox-inner { width: auto !important; height: auto !important;}
#order-confirmation .fancybox-skin .modal-body { padding: 20px; }
#order-confirmation .fancybox-skin .modal-footer { padding: 20px; }
#order-confirmation .fancybox-skin .modal-header {
    padding: 10px;
    background: #f3f3f3;
    font-weight: bold;
    text-align: center;
    background-image: url('../img/cards.png');
    background-position: 15px center;
    background-repeat: no-repeat;
}

#order-confirmation .fancybox-skin .card-display { text-align: center;}
#order-confirmation .fancybox-skin .modal-title { margin-bottom: 15px; }
#order-confirmation .fancybox-skin .modal-title h5 { text-align: center; }

.redsys_cards { padding: 0px !important; }
.redsys_cards .btn-group-vertical { padding: 0px !important;}
.redsys_cards .saved-card-expiry { padding: 0px !important;}

.redsys_cards #submitDeleteSavedCard { float: right; }
.redsys_cards .card-label {
    border: 1px solid #428bca;
    padding: 10px;
    border-radius: 5px;
}