#redsys_tpv_form .uix-multiselect { font-size: 1em; font-family: "Open Sans", Helvetica, Arial, sans-serif; background: #F5F8F9; border-radius: 3px;}
#redsys_tpv_form .uix-multiselect ul { -moz-user-select: none; }
#redsys_tpv_form .uix-multiselect li { margin: 0; padding: 0; cursor: default; min-height: 20px; font-size: 11px; list-style: none; }
#redsys_tpv_form .uix-multiselect li a { color: #999; text-decoration: none; padding: 0; display: block; float: left; cursor: pointer;}
#redsys_tpv_form .uix-multiselect li.ui-draggable-dragging { padding-left: 10px; }

#redsys_tpv_form .uix-multiselect div.multiselect-selected-list { position: relative; padding: 0; margin: 0; border: 0; float:right !important; }
#redsys_tpv_form .uix-multiselect ul.multiselect-selected-list { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; position: relative; width: 100%;  border: 1px solid #C7D6DB;}
#redsys_tpv_form .uix-multiselect ul.multiselect-selected-list li { }

#redsys_tpv_form .uix-multiselect div.multiselect-available-list { position: relative; padding: 0; margin: 0; border: 0; float:left; }
#redsys_tpv_form .uix-multiselect ul.multiselect-available-list { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; width: 100%;  border: 1px solid #C7D6DB;}
#redsys_tpv_form .uix-multiselect ul.multiselect-available-list li { padding-left: 0px; }
#redsys_tpv_form .uix-multiselect .option_content { padding-left: 5px; padding-right: 15px; }
#redsys_tpv_form .uix-multiselect .ui-state-default { border: none; margin-bottom: 1px; position: relative; padding-left: 20px; padding: 3px; background: #edf7fb}

#redsys_tpv_form .uix-multiselect .multiselect-available-list .option-element { background: #c2e6f4; }
#redsys_tpv_form .uix-multiselect .multiselect-selected-list .option-element { background: #85dafa; }

#redsys_tpv_form .uix-multiselect .multiselect-available-list .ui-state-hover { border: none; opacity: 0.70; color: #fff;}
#redsys_tpv_form .uix-multiselect .multiselect-selected-list .ui-state-hover { border: none; opacity: 0.55; color: #fff;}

#redsys_tpv_form .uix-multiselect .ui-widget-header {
    background: #edf7fb !important;
    border: 1px solid #C7D6DB !important;
    border-radius: 3px;
    font-weight: normal;
}

#redsys_tpv_form .uix-multiselect .add-all { float: right; padding: 7px; color: #0077a4;}
#redsys_tpv_form .uix-multiselect .remove-all { float: right; padding: 7px; color: #0077a4;}
#redsys_tpv_form .uix-multiselect .uix-search { float: left; padding: 4px;}
#redsys_tpv_form .uix-multiselect .count { float: left; padding: 7px;}

#redsys_tpv_form .uix-multiselect li span.ui-icon-arrowthick-2-n-s { position: absolute; left: 2px; }
#redsys_tpv_form .uix-multiselect li a.action { position: absolute; right: 2px; top: 2px; }

#redsys_tpv_form .uix-multiselect .ui-widget-header .uix-search {
    height: 15px;
    padding: 2px;
    opacity: 0.8;
    margin: 1px;
    width: 100px !important;
    float:right;
    font-size: 85%;
}

#redsys_tpv_form .uix-multiselect-original { position: absolute; left:-999999px; }
#redsys_tpv_form .uix-multiselect { height: auto !important; position: relative; float:left; margin-bottom: 15px; }
#redsys_tpv_form .uix-multiselect .multiselect-selected-list, #redsys_tpv_form .uix-multiselect .multiselect-available-list { position:absolute; overflow:hidden; left: 0px !important; height: 150px !important;}
#redsys_tpv_form .uix-multiselect .multiselect-selected-list { width: 425px !important; }
#redsys_tpv_form .uix-multiselect .multiselect-available-list { width: 375px !important; }
#redsys_tpv_form .uix-multiselect .multiselect-selected-list { float: right; }
#redsys_tpv_form .uix-multiselect .ui-widget-header { overflow:hidden;  white-space:nowrap; padding:2px 4px; }
#redsys_tpv_form .uix-multiselect .ui-widget-header div.header-text { white-space: nowrap; display: block !important;}
#redsys_tpv_form .uix-multiselect .ui-widget-header .uix-control-right, #redsys_tpv_form .uix-multiselect .ui-widget-header .uix-control-left { width:16px; height:16px; }
#redsys_tpv_form .uix-multiselect .ui-widget-header .uix-control-right { float:right; }
#redsys_tpv_form .uix-multiselect .ui-widget-header .uix-control-left { float:left; }
#redsys_tpv_form .uix-multiselect .uix-list-container { position:relative; height: 125px !important; overflow:auto; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#redsys_tpv_form .uix-multiselect .uix-list-container .ui-priority-secondary { padding-right:0; }
#redsys_tpv_form .uix-multiselect .group-element { position:relative; padding-left:0;  white-space:nowrap; overflow:hidden; }
#redsys_tpv_form .uix-multiselect .group-element-collapsable { padding-left:16px; }
#redsys_tpv_form .uix-multiselect .group-element span.collapse-handle { position:absolute; margin-top:-8px; top:50%; left:0; }
#redsys_tpv_form .uix-multiselect .group-element .label { margin:0 3px;  white-space:nowrap; overflow:hidden; }
#redsys_tpv_form .uix-multiselect .group-element .ui-icon { float:left; cursor:pointer; }
#redsys_tpv_form .uix-multiselect .option-element, #redsys_tpv_form .dragged-element { cursor:pointer; padding:3px 5px; }
#redsys_tpv_form .uix-multiselect .option-element.ui-state-disabled { font-style:italic; }
#redsys_tpv_form .dragged-element, #redsys_tpv_form .dragged-grouped-element { padding:1px 3px; }
#redsys_tpv_form .dragged-grouped-element { padding-left:16px; }
#redsys_tpv_form .uix-multiselect .grouped-option { position:relative; padding-left:16px }
#redsys_tpv_form .uix-multiselect .grouped-option .ui-icon { position:absolute; left:0; }



table.redsys_transaction .badge a { color: #fff; }
table.redsys_transaction .badge a:hover { text-decoration: none; }