#content.bootstrap .module-item-wrapper-grid .module-item-heading-grid h3.module-name-grid {
	position: relative;
	text-align: center;
	font-weight: bolder;
	margin: 1rem 0 .5rem;
	min-height: 24px;
	font-family: Open Sans,Helvetica,Arial,sans-serif;
	line-height: 1.2;
	color: #363a41;
	text-transform: none;
	border-bottom: none;
	height: inherit;
}

.bootstrap #search-input-group.input-group {
	position: relative;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: 100%;
}

#search-input-group.input-group .pstaggerAddTagInput:hover,
#search-input-group.input-group .pstaggerAddTagInput:active,
#search-input-group.input-group .pstaggerAddTagInput:focus {
	z-index: 2
}

.bootstrap #search-input-group.input-group .btn--black {
    color: #fff;
    background-color: #25b9d7;
    border-color: #25b9d7;
    box-shadow: none;
	border-width: 1px;
    padding: .585rem .838rem;
    font-weight: 600;
    border-radius: .063rem;
    white-space: nowrap;
	text-transform: none;
}

#modules-list-container-all .module-item-wrapper-grid .module-quick-action-grid .light-button, .bootstrap #modules-list-container-all .btn {
	height: 32px;
	font-size: .625rem;
	padding: .5rem;
	float: none;
	margin: 0 auto;
	color: #25b9d7;
	background-color: transparent;
	background-image: none;
	border-color: #25b9d7;
	border-width: 1px;
	font-weight: 600;
	border-radius: .063rem;
	white-space: nowrap;
	display: inline-block;
    text-align: center;
    vertical-align: middle;
	user-select: none;
	text-transform: none;
    border-left: 1px solid #25b9d7;
}

#modules-list-container-all .btn-outline-primary:not([disabled]):not(.disabled):active, #modules-list-container-all .btn-outline-primary:not([disabled]):not(.disabled):hover {
	color: #fff;
	background-color: #19a9c6;
	border-color: #19a9c6;
	box-shadow: none;
}

.bootstrap #modules-list-container-all hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #bbcdd2;
	box-sizing: content-box;
    height: 0;
    overflow: visible;
}

#psmbo .custom-select, .bootstrap #psmbo select {
	height: 2.188rem;
	width: 100%;
	display: inline-block;
	max-width: 100%;
	padding: .375rem 1.75rem .375rem .75rem;
	line-height: 1.5;
	color: #363a41;
	vertical-align: middle;
	background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23363a41' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
	background-size: 8px 10px;
    border: 1px solid #bbcdd2;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	font-size: .875rem;
}

#content.bootstrap #psmbo h3.popover-title, #content.bootstrap #psmbo .popover-header {
	padding: .625rem 1.25rem;
    margin-bottom: 0;
	font-size: .875rem;
    color: #363a41;
    background-color: #fafbfc;
    border-bottom: 1px solid #eaeef2;
	display: block;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	font-family: Open Sans,Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.2;
	text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
	font-style: normal;
	height: inherit;
	margin-top: 0;
	margin-bottom: 0;
}

.bootstrap #psmbo .popover-content, #psmbo .popover-body {
	padding: .625rem 1.25rem;
	color: #363a41;
	font-family: Open Sans,Helvetica,Arial,sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	white-space: normal;
	line-break: auto;
	font-size: .75rem;
    word-wrap: break-word;
}

.bootstrap #psmbo hr {
	margin-top: 1.875rem;
	margin-bottom: 1.875rem;
	border: 0;
    border-top: 1px solid #bbcdd2;
}
.bootstrap #psmbo .module-container hr {
    margin-bottom: 20px;
}

#psmbo .form-action-button-container {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
}

#psmbo .form-action-button-container .module-actions {
    width: 92%;
    margin: auto 4%;
}

.bootstrap #psmbo .module-stars {
    bottom: auto;
}

.bootstrap #psmbo .dropdown-item {
    /*display: block;*/
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #6c868e;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
	margin: .625em 0;
	padding: .3125rem 1.25rem;
	font-size: .875rem;
}

.bootstrap #psmbo .dropdown-menu {
/*    border: 1px solid #bbcdd2;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,.3);*/
    color: #576c72;
    padding: .313rem 0;
    min-width: 15.625rem;
}

.bootstrap #psmbo .ps-dropdown>.ps-dropdown-menu .items-list .dropdown-item:hover {
    background-color: #25b9d7;
    color: #fff;
	text-decoration: none;
}

.bootstrap #psmbo .module-price {
    right: auto;
    bottom: auto;
    position: relative;
    margin-right: 5px;
}

.link-leveltwo>.link,
.menu .main-tab .submenu a,
#nav-sidebar ul.menu li.maintab ul.submenu li a { font-size: .75rem!important; }

.bootstrap .btn {
	border-width: 1px;
	font-weight: 600;
	white-space: nowrap;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .838rem;
	font-size: .875rem;
	line-height: 1.5;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	border-radius: .063rem;
}

.bootstrap .btn.btn--black {
	color: #fff;
    background-color: #25b9d7;
    border-color: #25b9d7;
    box-shadow: none;
	text-transform: none;
	margin-right: 10px;
}

.bootstrap .btn-outline-secondary {
	color: #6c868e!important;
    background-color: transparent;
    background-image: none;
    border-color: #6c868e;
	margin-right: 10px;
}

.bootstrap #toolbar-nav { margin-top: 30px; }
.modal-backdrop.fade { opacity: .5!important; }
.modal.fade .modal-dialog { margin: 8rem auto!important; }
h4.modal-title {
	display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.125rem;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #363a41;
    margin-top: 0;
}
#module-modal-addons-connect .modal-header .close,
#module-modal-import-closing-cross {
	padding: 1.875rem;
    font-size: 2rem;
    margin: -1.875rem -1.875rem -1.875rem auto;
    float: right;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

#module-addons-connect-email, #module-addons-connect-password {
	padding: .375rem .4375rem;
	display: block;
	width: 100%;
	font-size: .875rem;
	line-height: 1.5;
	color: #363a41;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #bbcdd2;
	border-radius: 0;
	box-shadow: none;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.modal-content { border-radius: 0px; }

.notification-container {
/*	line-height: 1.5rem;
	height: 1.5rem;
	vertical-align: middle;
	cursor: pointer;
	color: #6c868e;
	float: right;
	position: relative;*/
    height: 1.5rem;
    vertical-align: middle;
    cursor: pointer;
    color: #6c868e;
    position: relative;
    line-height: 1.5rem;
}

.notification-counter {
/*	display: inline-block;
	line-height: .875rem;
	height: .875rem;
	vertical-align: middle;
	position: absolute;
	color: #fff;
	background: #cd9321;
	font-size: .5625rem;
	padding: 0 .25rem;
	border-radius: 1rem;
	top: -.063rem;
	right: auto;*/
    display: inline-block;
    position: absolute;
    color: #fff;
    background: #f1b746;
    font-size: .625rem;
    line-height: .75rem;
    padding: 0 .1875rem;
    border-radius: 1rem;
    border: .125rem solid #fff;
    top: -.5625rem;
    right: -.9375rem;
}

#help-container .page-wrap, #main-nav { margin-top: 30px!important; }
.pstaggerTagsWrapper { padding: 0.3rem 0.4rem!important; }

#header_infos .dropdown-toggle:not(.dropdown-toggle-split):after { display: none; }
#header_infos #quick_select {
    font-size: .8125rem;
    font-weight: 400;
}

.bootstrap #modules-list-container-all .btn.dropdown-toggle-split:after {
    margin-left: 0px;
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
    content: "expand_more";
    border: none;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    line-height: 0;
}
.bootstrap #modules-list-container-all .btn.dropdown-toggle-split[class*=outline] { margin-left: -1px; }
.bootstrap #modules-list-container-all .btn.dropdown-toggle-split {
    padding-right: .6285rem!important;
    padding-left: .6285rem!important;
    width: auto!important;
    cursor: pointer;
}

.form-action-button { width: 100%; }
