/**
 * We offer the best and most useful modules PrestaShop and modifications for your online store.
 *
 * We are experts and professionals in PrestaShop
 *
 * @author    PresTeamShop.com <support@presteamshop.com>
 * @copyright 2011-2018 PresTeamShop
 * @license   see file: LICENSE.txt
 * @category  PrestaShop
 * @category  Module
 */

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}

.col-auto {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: none;
}

.col-1 {
	-ms-flex: 0 0 8.333333%;
	flex: 0 0 8.333333%;
	max-width: 8.333333%;
}

.col-2 {
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
}

.col-3 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.col-4 {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.col-5 {
	-ms-flex: 0 0 41.666667%;
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}

.col-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.col-7 {
	-ms-flex: 0 0 58.333333%;
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
}

.col-8 {
	-ms-flex: 0 0 66.666667%;
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}

.col-9 {
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}

.col-10 {
	-ms-flex: 0 0 83.333333%;
	flex: 0 0 83.333333%;
	max-width: 83.333333%;
}

.col-11 {
	-ms-flex: 0 0 91.666667%;
	flex: 0 0 91.666667%;
	max-width: 91.666667%;
}

.col-12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.order-first {
	-ms-flex-order: -1;
	order: -1;
}

.order-last {
	-ms-flex-order: 13;
	order: 13;
}

.order-0 {
	-ms-flex-order: 0;
	order: 0;
}

.order-1 {
	-ms-flex-order: 1;
	order: 1;
}

.order-2 {
	-ms-flex-order: 2;
	order: 2;
}

.order-3 {
	-ms-flex-order: 3;
	order: 3;
}

.order-4 {
	-ms-flex-order: 4;
	order: 4;
}

.order-5 {
	-ms-flex-order: 5;
	order: 5;
}

.order-6 {
	-ms-flex-order: 6;
	order: 6;
}

.order-7 {
	-ms-flex-order: 7;
	order: 7;
}

.order-8 {
	-ms-flex-order: 8;
	order: 8;
}

.order-9 {
	-ms-flex-order: 9;
	order: 9;
}

.order-10 {
	-ms-flex-order: 10;
	order: 10;
}

.order-11 {
	-ms-flex-order: 11;
	order: 11;
}

.order-12 {
	-ms-flex-order: 12;
	order: 12;
}

.offset-1 {
	margin-left: 8.333333%;
}

.offset-2 {
	margin-left: 16.666667%;
}

.offset-3 {
	margin-left: 25%;
}

.offset-4 {
	margin-left: 33.333333%;
}

.offset-5 {
	margin-left: 41.666667%;
}

.offset-6 {
	margin-left: 50%;
}

.offset-7 {
	margin-left: 58.333333%;
}

.offset-8 {
	margin-left: 66.666667%;
}

.offset-9 {
	margin-left: 75%;
}

.offset-10 {
	margin-left: 83.333333%;
}

.offset-11 {
	margin-left: 91.666667%;
}

@media (min-width: 576px) {
	.col-sm {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
	}
	.col-sm-auto {
			-ms-flex: 0 0 auto;
			flex: 0 0 auto;
			width: auto;
			max-width: none;
	}
	.col-sm-1 {
			-ms-flex: 0 0 8.333333%;
			flex: 0 0 8.333333%;
			max-width: 8.333333%;
	}
	.col-sm-2 {
			-ms-flex: 0 0 16.666667%;
			flex: 0 0 16.666667%;
			max-width: 16.666667%;
	}
	.col-sm-3 {
			-ms-flex: 0 0 25%;
			flex: 0 0 25%;
			max-width: 25%;
	}
	.col-sm-4 {
			-ms-flex: 0 0 33.333333%;
			flex: 0 0 33.333333%;
			max-width: 33.333333%;
	}
	.col-sm-5 {
			-ms-flex: 0 0 41.666667%;
			flex: 0 0 41.666667%;
			max-width: 41.666667%;
	}
	.col-sm-6 {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
	}
	.col-sm-7 {
			-ms-flex: 0 0 58.333333%;
			flex: 0 0 58.333333%;
			max-width: 58.333333%;
	}
	.col-sm-8 {
			-ms-flex: 0 0 66.666667%;
			flex: 0 0 66.666667%;
			max-width: 66.666667%;
	}
	.col-sm-9 {
			-ms-flex: 0 0 75%;
			flex: 0 0 75%;
			max-width: 75%;
	}
	.col-sm-10 {
			-ms-flex: 0 0 83.333333%;
			flex: 0 0 83.333333%;
			max-width: 83.333333%;
	}
	.col-sm-11 {
			-ms-flex: 0 0 91.666667%;
			flex: 0 0 91.666667%;
			max-width: 91.666667%;
	}
	.col-sm-12 {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
	}
	.order-sm-first {
			-ms-flex-order: -1;
			order: -1;
	}
	.order-sm-last {
			-ms-flex-order: 13;
			order: 13;
	}
	.order-sm-0 {
			-ms-flex-order: 0;
			order: 0;
	}
	.order-sm-1 {
			-ms-flex-order: 1;
			order: 1;
	}
	.order-sm-2 {
			-ms-flex-order: 2;
			order: 2;
	}
	.order-sm-3 {
			-ms-flex-order: 3;
			order: 3;
	}
	.order-sm-4 {
			-ms-flex-order: 4;
			order: 4;
	}
	.order-sm-5 {
			-ms-flex-order: 5;
			order: 5;
	}
	.order-sm-6 {
			-ms-flex-order: 6;
			order: 6;
	}
	.order-sm-7 {
			-ms-flex-order: 7;
			order: 7;
	}
	.order-sm-8 {
			-ms-flex-order: 8;
			order: 8;
	}
	.order-sm-9 {
			-ms-flex-order: 9;
			order: 9;
	}
	.order-sm-10 {
			-ms-flex-order: 10;
			order: 10;
	}
	.order-sm-11 {
			-ms-flex-order: 11;
			order: 11;
	}
	.order-sm-12 {
			-ms-flex-order: 12;
			order: 12;
	}
	.offset-sm-0 {
			margin-left: 0;
	}
	.offset-sm-1 {
			margin-left: 8.333333%;
	}
	.offset-sm-2 {
			margin-left: 16.666667%;
	}
	.offset-sm-3 {
			margin-left: 25%;
	}
	.offset-sm-4 {
			margin-left: 33.333333%;
	}
	.offset-sm-5 {
			margin-left: 41.666667%;
	}
	.offset-sm-6 {
			margin-left: 50%;
	}
	.offset-sm-7 {
			margin-left: 58.333333%;
	}
	.offset-sm-8 {
			margin-left: 66.666667%;
	}
	.offset-sm-9 {
			margin-left: 75%;
	}
	.offset-sm-10 {
			margin-left: 83.333333%;
	}
	.offset-sm-11 {
			margin-left: 91.666667%;
	}
}

@media (min-width: 768px) {
	.col-md {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
	}
	.col-md-auto {
			-ms-flex: 0 0 auto;
			flex: 0 0 auto;
			width: auto;
			max-width: none;
	}
	.col-md-1 {
			-ms-flex: 0 0 8.333333%;
			flex: 0 0 8.333333%;
			max-width: 8.333333%;
	}
	.col-md-2 {
			-ms-flex: 0 0 16.666667%;
			flex: 0 0 16.666667%;
			max-width: 16.666667%;
	}
	.col-md-3 {
			-ms-flex: 0 0 25%;
			flex: 0 0 25%;
			max-width: 25%;
	}
	.col-md-4 {
			-ms-flex: 0 0 33.333333%;
			flex: 0 0 33.333333%;
			max-width: 33.333333%;
	}
	.col-md-5 {
			-ms-flex: 0 0 41.666667%;
			flex: 0 0 41.666667%;
			max-width: 41.666667%;
	}
	.col-md-6 {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
	}
	.col-md-7 {
			-ms-flex: 0 0 58.333333%;
			flex: 0 0 58.333333%;
			max-width: 58.333333%;
	}
	.col-md-8 {
			-ms-flex: 0 0 66.666667%;
			flex: 0 0 66.666667%;
			max-width: 66.666667%;
	}
	.col-md-9 {
			-ms-flex: 0 0 75%;
			flex: 0 0 75%;
			max-width: 75%;
	}
	.col-md-10 {
			-ms-flex: 0 0 83.333333%;
			flex: 0 0 83.333333%;
			max-width: 83.333333%;
	}
	.col-md-11 {
			-ms-flex: 0 0 91.666667%;
			flex: 0 0 91.666667%;
			max-width: 91.666667%;
	}
	.col-md-12 {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
	}
	.order-md-first {
			-ms-flex-order: -1;
			order: -1;
	}
	.order-md-last {
			-ms-flex-order: 13;
			order: 13;
	}
	.order-md-0 {
			-ms-flex-order: 0;
			order: 0;
	}
	.order-md-1 {
			-ms-flex-order: 1;
			order: 1;
	}
	.order-md-2 {
			-ms-flex-order: 2;
			order: 2;
	}
	.order-md-3 {
			-ms-flex-order: 3;
			order: 3;
	}
	.order-md-4 {
			-ms-flex-order: 4;
			order: 4;
	}
	.order-md-5 {
			-ms-flex-order: 5;
			order: 5;
	}
	.order-md-6 {
			-ms-flex-order: 6;
			order: 6;
	}
	.order-md-7 {
			-ms-flex-order: 7;
			order: 7;
	}
	.order-md-8 {
			-ms-flex-order: 8;
			order: 8;
	}
	.order-md-9 {
			-ms-flex-order: 9;
			order: 9;
	}
	.order-md-10 {
			-ms-flex-order: 10;
			order: 10;
	}
	.order-md-11 {
			-ms-flex-order: 11;
			order: 11;
	}
	.order-md-12 {
			-ms-flex-order: 12;
			order: 12;
	}
	.offset-md-0 {
			margin-left: 0;
	}
	.offset-md-1 {
			margin-left: 8.333333%;
	}
	.offset-md-2 {
			margin-left: 16.666667%;
	}
	.offset-md-3 {
			margin-left: 25%;
	}
	.offset-md-4 {
			margin-left: 33.333333%;
	}
	.offset-md-5 {
			margin-left: 41.666667%;
	}
	.offset-md-6 {
			margin-left: 50%;
	}
	.offset-md-7 {
			margin-left: 58.333333%;
	}
	.offset-md-8 {
			margin-left: 66.666667%;
	}
	.offset-md-9 {
			margin-left: 75%;
	}
	.offset-md-10 {
			margin-left: 83.333333%;
	}
	.offset-md-11 {
			margin-left: 91.666667%;
	}
}

@media (min-width: 992px) {
	.col-lg {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
	}
	.col-lg-auto {
			-ms-flex: 0 0 auto;
			flex: 0 0 auto;
			width: auto;
			max-width: none;
	}
	.col-lg-1 {
			-ms-flex: 0 0 8.333333%;
			flex: 0 0 8.333333%;
			max-width: 8.333333%;
	}
	.col-lg-2 {
			-ms-flex: 0 0 16.666667%;
			flex: 0 0 16.666667%;
			max-width: 16.666667%;
	}
	.col-lg-3 {
			-ms-flex: 0 0 25%;
			flex: 0 0 25%;
			max-width: 25%;
	}
	.col-lg-4 {
			-ms-flex: 0 0 33.333333%;
			flex: 0 0 33.333333%;
			max-width: 33.333333%;
	}
	.col-lg-5 {
			-ms-flex: 0 0 41.666667%;
			flex: 0 0 41.666667%;
			max-width: 41.666667%;
	}
	.col-lg-6 {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
	}
	.col-lg-7 {
			-ms-flex: 0 0 58.333333%;
			flex: 0 0 58.333333%;
			max-width: 58.333333%;
	}
	.col-lg-8 {
			-ms-flex: 0 0 66.666667%;
			flex: 0 0 66.666667%;
			max-width: 66.666667%;
	}
	.col-lg-9 {
			-ms-flex: 0 0 75%;
			flex: 0 0 75%;
			max-width: 75%;
	}
	.col-lg-10 {
			-ms-flex: 0 0 83.333333%;
			flex: 0 0 83.333333%;
			max-width: 83.333333%;
	}
	.col-lg-11 {
			-ms-flex: 0 0 91.666667%;
			flex: 0 0 91.666667%;
			max-width: 91.666667%;
	}
	.col-lg-12 {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
	}
	.order-lg-first {
			-ms-flex-order: -1;
			order: -1;
	}
	.order-lg-last {
			-ms-flex-order: 13;
			order: 13;
	}
	.order-lg-0 {
			-ms-flex-order: 0;
			order: 0;
	}
	.order-lg-1 {
			-ms-flex-order: 1;
			order: 1;
	}
	.order-lg-2 {
			-ms-flex-order: 2;
			order: 2;
	}
	.order-lg-3 {
			-ms-flex-order: 3;
			order: 3;
	}
	.order-lg-4 {
			-ms-flex-order: 4;
			order: 4;
	}
	.order-lg-5 {
			-ms-flex-order: 5;
			order: 5;
	}
	.order-lg-6 {
			-ms-flex-order: 6;
			order: 6;
	}
	.order-lg-7 {
			-ms-flex-order: 7;
			order: 7;
	}
	.order-lg-8 {
			-ms-flex-order: 8;
			order: 8;
	}
	.order-lg-9 {
			-ms-flex-order: 9;
			order: 9;
	}
	.order-lg-10 {
			-ms-flex-order: 10;
			order: 10;
	}
	.order-lg-11 {
			-ms-flex-order: 11;
			order: 11;
	}
	.order-lg-12 {
			-ms-flex-order: 12;
			order: 12;
	}
	.offset-lg-0 {
			margin-left: 0;
	}
	.offset-lg-1 {
			margin-left: 8.333333%;
	}
	.offset-lg-2 {
			margin-left: 16.666667%;
	}
	.offset-lg-3 {
			margin-left: 25%;
	}
	.offset-lg-4 {
			margin-left: 33.333333%;
	}
	.offset-lg-5 {
			margin-left: 41.666667%;
	}
	.offset-lg-6 {
			margin-left: 50%;
	}
	.offset-lg-7 {
			margin-left: 58.333333%;
	}
	.offset-lg-8 {
			margin-left: 66.666667%;
	}
	.offset-lg-9 {
			margin-left: 75%;
	}
	.offset-lg-10 {
			margin-left: 83.333333%;
	}
	.offset-lg-11 {
			margin-left: 91.666667%;
	}
}

@media (min-width: 1200px) {
	.col-xl {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
	}
	.col-xl-auto {
			-ms-flex: 0 0 auto;
			flex: 0 0 auto;
			width: auto;
			max-width: none;
	}
	.col-xl-1 {
			-ms-flex: 0 0 8.333333%;
			flex: 0 0 8.333333%;
			max-width: 8.333333%;
	}
	.col-xl-2 {
			-ms-flex: 0 0 16.666667%;
			flex: 0 0 16.666667%;
			max-width: 16.666667%;
	}
	.col-xl-3 {
			-ms-flex: 0 0 25%;
			flex: 0 0 25%;
			max-width: 25%;
	}
	.col-xl-4 {
			-ms-flex: 0 0 33.333333%;
			flex: 0 0 33.333333%;
			max-width: 33.333333%;
	}
	.col-xl-5 {
			-ms-flex: 0 0 41.666667%;
			flex: 0 0 41.666667%;
			max-width: 41.666667%;
	}
	.col-xl-6 {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
	}
	.col-xl-7 {
			-ms-flex: 0 0 58.333333%;
			flex: 0 0 58.333333%;
			max-width: 58.333333%;
	}
	.col-xl-8 {
			-ms-flex: 0 0 66.666667%;
			flex: 0 0 66.666667%;
			max-width: 66.666667%;
	}
	.col-xl-9 {
			-ms-flex: 0 0 75%;
			flex: 0 0 75%;
			max-width: 75%;
	}
	.col-xl-10 {
			-ms-flex: 0 0 83.333333%;
			flex: 0 0 83.333333%;
			max-width: 83.333333%;
	}
	.col-xl-11 {
			-ms-flex: 0 0 91.666667%;
			flex: 0 0 91.666667%;
			max-width: 91.666667%;
	}
	.col-xl-12 {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
	}
	.order-xl-first {
			-ms-flex-order: -1;
			order: -1;
	}
	.order-xl-last {
			-ms-flex-order: 13;
			order: 13;
	}
	.order-xl-0 {
			-ms-flex-order: 0;
			order: 0;
	}
	.order-xl-1 {
			-ms-flex-order: 1;
			order: 1;
	}
	.order-xl-2 {
			-ms-flex-order: 2;
			order: 2;
	}
	.order-xl-3 {
			-ms-flex-order: 3;
			order: 3;
	}
	.order-xl-4 {
			-ms-flex-order: 4;
			order: 4;
	}
	.order-xl-5 {
			-ms-flex-order: 5;
			order: 5;
	}
	.order-xl-6 {
			-ms-flex-order: 6;
			order: 6;
	}
	.order-xl-7 {
			-ms-flex-order: 7;
			order: 7;
	}
	.order-xl-8 {
			-ms-flex-order: 8;
			order: 8;
	}
	.order-xl-9 {
			-ms-flex-order: 9;
			order: 9;
	}
	.order-xl-10 {
			-ms-flex-order: 10;
			order: 10;
	}
	.order-xl-11 {
			-ms-flex-order: 11;
			order: 11;
	}
	.order-xl-12 {
			-ms-flex-order: 12;
			order: 12;
	}
	.offset-xl-0 {
			margin-left: 0;
	}
	.offset-xl-1 {
			margin-left: 8.333333%;
	}
	.offset-xl-2 {
			margin-left: 16.666667%;
	}
	.offset-xl-3 {
			margin-left: 25%;
	}
	.offset-xl-4 {
			margin-left: 33.333333%;
	}
	.offset-xl-5 {
			margin-left: 41.666667%;
	}
	.offset-xl-6 {
			margin-left: 50%;
	}
	.offset-xl-7 {
			margin-left: 58.333333%;
	}
	.offset-xl-8 {
			margin-left: 66.666667%;
	}
	.offset-xl-9 {
			margin-left: 75%;
	}
	.offset-xl-10 {
			margin-left: 83.333333%;
	}
	.offset-xl-11 {
			margin-left: 91.666667%;
	}
}

div#onepagecheckoutps {
    position: relative;
}
div#onepagecheckoutps em,
div#onepagecheckoutps label {
    font-size: 12px;
}
div#onepagecheckoutps label{
    font-weight: normal;
	padding: 0;
    margin-bottom: 0;
    min-width: auto;
    text-align: inherit;
    line-height: normal;
}
div#onepagecheckoutps em {
    float: left;
}
div#onepagecheckoutps input,
div#onepagecheckoutps textarea,
div#onepagecheckoutps select {
    border-radius: 5px !important;
    color: inherit;
    font-size: 12px;
    height: auto !important;
}

div#onepagecheckoutps input.disabled,
div#onepagecheckoutps textarea.disabled,
div#onepagecheckoutps select.disabled {
    background-color: #f6f6f6;
}
div#onepagecheckoutps select {
    border-right: none;
    height: auto;
    -moz-appearance: menulist;
}
div#onepagecheckoutps input:focus,
div#onepagecheckoutps textarea:focus,
div#onepagecheckoutps select:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
div#onepagecheckoutps div#onepagecheckoutps_header {
    background-color: #fff;
    border-radius: 11px;
    margin: 8px 0;
    padding-bottom: 8px;
    padding-top: 8px;
}
div#onepagecheckoutps div#onepagecheckoutps_header #div_onepagecheckoutps_info h1 {
    font-size: 32px;
    font-weight: normal;
}
div#onepagecheckoutps div#onepagecheckoutps_header #div_onepagecheckoutps_login #btn-logout {
    padding: 5px;
    margin-top: 17px;
}
div#onepagecheckoutps div#onepagecheckoutps_header div#div_onepagecheckoutps_login a {
    font-size: 16px;
}
div#onepagecheckoutps div#onepagecheckoutps_header p {
    margin: 0;
}
div#onepagecheckoutps div#onepagecheckoutps_contenedor {
    /*display: inline-block; Problema con IE*/
    background-color: #fff;
    border-radius: 11px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 19px;
}
div#onepagecheckoutps #onepagecheckoutps_step_two,
div#onepagecheckoutps #onepagecheckoutps_step_three,
div#onepagecheckoutps #onepagecheckoutps_step_review{
    margin-top: 5px;
}
div#onepagecheckoutps .onepagecheckoutps_p_step {
    padding-bottom: 4px;
    border-bottom: 1px solid #d6d4d4;
    cursor: default;
    text-transform: initial;
    vertical-align: middle;
    clear: both;
    font-size: 16px;
}

/* OPC - STEP REGISTER */
div#onepagecheckoutps #onepagecheckoutps_step_one [type="checkbox"],
div#onepagecheckoutps #onepagecheckoutps_step_one [type="radio"] {
	margin-top: 8px;
}
div#onepagecheckoutps [type="checkbox"] {
	-webkit-appearance: checkbox;
}
div#onepagecheckoutps [type="radio"] {
	-webkit-appearance: radio;
}


div#onepagecheckoutps div#onepagecheckoutps_step_one #btn_save_customer {
    margin-top: 5px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_one #div_field_required {
    color: red;
    font-size: 12.8px;
    font-style: italic;
    margin-bottom: 2.6px;
    margin-top: 12.8px;
}
div#onepagecheckoutps #onepagecheckoutps_step_one div.form-group{
    margin: 0;
    display: block;
}
div#onepagecheckoutps div#onepagecheckoutps_step_one .container_help_invoice{
    font-size: 12.5px;
    text-align: center;
    text-decoration: underline;
}
div#onepagecheckoutps #onepagecheckoutps_step_one .container_help_invoice span{
    cursor: pointer;
}
div#onepagecheckoutps div#onepagecheckoutps_step_one label sup{
    color: red;
}
div#onepagecheckoutps div#onepagecheckoutps_step_one #p_privacy_policy {
    margin-bottom: 0;
}
div#onepagecheckoutps div#onepagecheckoutps_step_one ul.nav-tabs li a{
    font-weight: bold;
    font-size: 14px;
    padding: 6px;
    text-transform: initial;
    background: inherit;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
div#onepagecheckoutps div#onepagecheckoutps_step_one ul.nav {
    background: none;
    z-index: 0;
    font-size: initial;
    margin-bottom: 0;
    margin-top: 12.8px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_one ul.nav-tabs a.active {
    background-color: #ffffff;
    color: inherit !important;
}
div#onepagecheckoutps div#onepagecheckoutps_step_one ul.nav-tabs li a:hover {
    color: inherit;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

div#onepagecheckoutps #panel_addresses_customer {
    display: block;
    margin: 8px 0 0;
}
div#onepagecheckoutps #panel_addresses_customer .card {
    display: block;
    margin: 5px 0;
    overflow: visible;
    width: 100%;
}
div#onepagecheckoutps #panel_addresses_customer .card .card-header {
    padding: 8px 0.5rem;
}
div#onepagecheckoutps #panel_addresses_customer .card .card-header a {
    font-size: 14px;
    font-weight: bold;
}
div#onepagecheckoutps #panel_addresses_customer .card .card-title {
    margin: 0;
}
div#onepagecheckoutps #panel_addresses_customer #action_address_delivery,
div#onepagecheckoutps #panel_addresses_customer #action_address_invoice {
    margin: 8px 0;
}
div#onepagecheckoutps #panel_addresses_customer .more-less {
    cursor: pointer;
	margin-top: 6px;
}
div#onepagecheckoutps #panel_addresses_customer #search_addresses {
    margin-bottom: 10px;
}
div#onepagecheckoutps #panel_addresses_customer .icon_search_address {
    position: absolute;
    top: -2px;
    right: 9px;
    z-index: 2;
    display: block;
    width: 28px;
    height: 28px;
    line-height: 32px;
    text-align: center;
    pointer-events: none;
}
div#onepagecheckoutps .addresses_customer_container {
    max-height: 350px;
    overflow-y: auto;
	margin: 0;
    margin-top: 10px;
}
div#onepagecheckoutps .addresses_customer_container .address_card,
div#onepagecheckoutps .addresses_customer_container #search_addresses{
    padding-left: 0rem;
    padding-right: 0rem;
}
div#onepagecheckoutps #address_card_new .container_card {
    border: 2px dashed #d6d4d4;
    height: 35px;
}
div#onepagecheckoutps #address_card_new #address_card_new_content span {
    cursor: pointer;
    display: block;
    font-size: 15px;
    text-align: center;
    width: 100%;
}
div#onepagecheckoutps #address_card_new #address_card_new_content span:hover {
    font-weight: bold;
}
div#onepagecheckoutps .container_card {
    border: 1px solid #d6d4d4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
div#onepagecheckoutps .container_card button{
	font-size: 16px;
}
div#onepagecheckoutps .container_card:not(.selected):hover {
    box-shadow: 0 0 10px #d6d4d4;
}
div#onepagecheckoutps .container_card.alert {
    cursor: initial;
}
div#onepagecheckoutps .container_card.alert ul {
    padding: 0;
    margin: 0;
}
div#onepagecheckoutps .container_card.alert ul li {
    list-style-type: none;
}
div#onepagecheckoutps .container_card.selected {
    font-weight: normal;
}
div#onepagecheckoutps .container_card .header_card {
    border-bottom: 1px solid #d6d4d4;
    padding: 0 0 5px 0;
    margin: 0;
}
div#onepagecheckoutps .container_card .content_card {
    padding-top: 8px;
    min-height: 155px;
}
div#onepagecheckoutps .container_card .footer_card {
    width: 100%;
}
div#onepagecheckoutps .container_card .footer_card .change_address{
    text-align: center;
}
#action_address_invoice {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
/* OPC - STEP CARRIER */
div#onepagecheckoutps div#onepagecheckoutps_step_two .delivery-option{
    cursor: pointer;
    padding: 0;
    margin-bottom: 0;
}
div#onepagecheckoutps div#onepagecheckoutps_step_two .delivery-option .delivery_option_title,
div#onepagecheckoutps div#onepagecheckoutps_step_two .delivery-option .delivery_option_delay{
    font-size: 14px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_two .delivery-option .delivery_option_price{
    font-size: 11px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_two #shipping_container .delivery_option_logo img{
    max-width: 86px;
    cursor: pointer;
}
div#onepagecheckoutps div#onepagecheckoutps_step_one #opc_show_login{
    padding: 4px;
    line-height: normal;
    text-transform: none;
}

/* OPC - STEP PAYMENT */
div#onepagecheckoutps div#onepagecheckoutps_step_three .module_payment_container{
    padding: 3.2px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_three #payment_method_container .module_payment_container.selected {
    margin-bottom: 0;
}
div#onepagecheckoutps div#onepagecheckoutps_step_three .module_payment_container .payment_content_html{
    padding: 12.8px;
    width: 100%;
}
div#onepagecheckoutps div#onepagecheckoutps_step_three #payment_method_container .payment_image img{
    max-width: 86px;
    cursor: pointer;
}

/* OPC - STEP REVIEW */
div#onepagecheckoutps #onepagecheckoutps_step_review{
    /*font-size: 0.9rem;*/
    font-size: 14.3px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review_container > h5 {
    border-bottom: 1px #d3d3d3 solid;
    padding-bottom: 0 !important;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .bootstrap-touchspin {
    margin: 0 auto;
    width: auto;
    display: table;
    box-shadow: initial;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .bootstrap-touchspin .cart-line-product-quantity {
    border-radius: 0;
    float: left;
    height: 42.2px !important;
    line-height: initial;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0!important;
    padding: 3.75px;
    text-align: center;
    width: 40px;
    -webkit-box-shadow: 0;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .bootstrap-touchspin span {
    float: left;
	display: flex;
	flex-direction: column;
    width: auto;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .bootstrap-touchspin .input-group-btn-vertical .btn-touchspin i{
	height: 9px;
	width: 9px;
	left: 1px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .bootstrap-touchspin .input-group-btn-vertical .btn-touchspin {
    height: 21.1px;
    line-height: 0;
    padding: 0;
    width: 21.4px;
    margin-top: 0;
    margin-bottom: 0;
    position: inherit;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .remove-from-cart {
    display: block;
    font-size: 20.8px;
    float: left;
    margin-left: 7.1px;
    margin-top: 4.1px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #header-order-detail-content {
	margin-bottom: 12px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #header-order-detail-content > div{
    text-decoration: underline;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #btn_continue_shopping{
    font-size: 18px;
    margin-top: 6.4px;
}
div#onepagecheckoutps #message {
	resize: none
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #btn_place_order{
    font-size: 18px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #btn_place_order:hover,
div#onepagecheckoutps div#onepagecheckoutps_step_review #btn_continue_shopping:hover{
    opacity: 0.8;
    filter: alpha(opacity=80);
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #list-voucher-allowed .promo-code-button {
    display: block;
    text-decoration: underline;
    margin-bottom: 7.15px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #list-voucher-allowed #discount_name {
    vertical-align: middle;
    text-align: center;
    width: 150px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #list-voucher-allowed #display_cart_vouchers p {
    color: inherit;
    font-style: italic;
    margin-bottom: 6px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #list-voucher-allowed {
    border: 1px dashed #ccc;
    float: left;
    margin-top: 11.4px;
    padding: 5.7px;
    width: 100%;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #list-voucher-allowed #promo-code{
    margin-bottom: 14.3px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #list-voucher-allowed #display_cart_vouchers ul {
    margin-bottom: 5.7px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #list-voucher-allowed #display_cart_vouchers li {
    list-style: none;
    margin-left: 14.3px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #list-voucher-allowed #display_cart_vouchers li .code{
    cursor: pointer;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #div_leave_message > p {
    margin-bottom: 15px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #div_leave_message {
    border-top: 1px solid #ccc;
    margin: 14.3px 0;
    padding-top: 14.3px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_item {
    margin-bottom: 14.3px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_item .s_title_block{
    margin: 0;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #order-detail-content .order_total_items .item_total .price{
    font-size: 100%;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #order-detail-content .order_total_items .item_total {
    text-align: right;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #order-detail-content .image_product {
    padding-right: 0;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #order-detail-content .cart_description .s_title_block {
    font-size: 14px;
    /*font-size: 0.9rem;*/
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #order-detail-content .cart_description,
div#onepagecheckoutps div#onepagecheckoutps_step_review #order-detail-content .cart_description .label{
    font-size: 11.2px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_item img.img-fluid{
    border: 1px solid #d6d4d4;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #block-reassurance .block-reassurance-item {
    padding: 11.4px 0;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #block-reassurance .block-reassurance-item span {
    font-size: 12.5px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review label.alert{
    width: 100%;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .badge{
    font-size: 100%;
}

/*****************************Login*****************************/
div#onepagecheckoutps div#opc_login #txt_login_password,
div#onepagecheckoutps div#opc_login #txt_login_email {
    border-radius: 0;
    font-size: inherit;
    line-height: 24px;
}
div#onepagecheckoutps #form_login span.form-error{
    bottom: -11px;
    position: absolute;
    right: 0;
}
div#onepagecheckoutps #form_login .has-error .input-group-addon {
    border-color: #b94a48;
}
div#onepagecheckoutps div#opc_login .forget_password {
    text-align: right;
    margin-bottom: 0;
    margin-top: 12px;
}
.text-md-right {
	text-align: right;
}
@media (max-width: 992px) {
	div#onepagecheckoutps #panel_addresses_customer #action_address_delivery > div {
		width: 100%!important;
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0;
		margin-bottom: 10px;
	}
	div#onepagecheckoutps #panel_addresses_customer #action_address_delivery .btn {
		width: 100%;
	}
}

@media (max-width: 768px) {
    .custom-information {
        border-top: 1px solid #d6d4d4;
        padding-top: 6px;
    }
    .hidden-xs {
        visibility: hidden;
    }
}
@media (max-width: 767px) {
	.hidden-md-down {
		display: none;
	}
}
.custom-information {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 3px;
}
.last_custom {
    border-bottom: 1px solid #d6d4d4;
}
/*****************************END Login*****************************/

/*****************************Validation fields*****************************/
div#onepagecheckoutps input.valid{
    background-image: url(../../img/form-ok.png)!important;
    background-position: 99% 50%;
    background-repeat: no-repeat;
    padding-right: 24px !important;
}
div#onepagecheckoutps input.error{
    background-image: url(../../img/form-error.png)!important;
    background-position: 99% 50%;
    background-repeat: no-repeat;
    color: inherit !important;
    padding-right: 24px !important;
    outline: 0;
}
div#onepagecheckoutps select.error {
    outline: 0;
}
div#onepagecheckoutps span.form-error{
    color: red;
    float: left;
    font-size: 11px;
    margin: 4px 0 0;
    padding: 0;
    display: block;
    line-height: 11.2px;
}
/*****************************END Validation fields*****************************/

/*****************************Tools*********************************/
div#onepagecheckoutps .hidden{
    display: none !important;
}

.pts sup{
	font-size: 75% !important;
}

.pts-vtop,
.pts-vcenter {
   display: table !important;
}
.pts-vtop > div,
.pts-vcenter > div {
    float: none !important;
    display: table-cell !important;
	width: auto;
}
.pts-vcenter > div {
    vertical-align: middle !important;
}
.pts-vtop > div {
    vertical-align: top !important;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(156, 156, 156, .6);
}
/*****************************END Tools*****************************/

/*****************************Support templates*********************************/
#ui-datepicker-div table td,
#ui-datepicker-div table th {
    padding: 0;
}
.theiaStickySidebar{
    position: initial !important;
}
div#onepagecheckoutps .modal-header .close {
    color: inherit;
    font-size: initial;
}
div#onepagecheckoutps .modal-body {
    padding: 15px;
}
div#onepagecheckoutps .modal-header .panel-title{
    width: 100%;
}
div#onepagecheckoutps .modal-content {
    padding: 0;
    border: 1px solid #d3d3d3;
}
.st-pusher {
    position: initial !important;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .bootstrap-touchspin .input-group-btn-vertical .btn-touchspin::before {
	content: ''
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #block-reassurance li + li {
	margin-top: 0;
	padding-top: 0;
}
.breadcrumb.dor-breadcrumb {
    display: none !important;
}
/*#checkout #onepagecheckoutps .col-md-8 {
	width: 66.66667%;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    width: auto;
}*/
/*****************************END Support templates*****************************/

/*****************************Support modules*********************************/
div#onepagecheckoutps #onepagecheckoutps_step_one .bestkit_customerattributes p {
    width: 100%;
}
div#onepagecheckoutps #onepagecheckoutps_step_one .bestkit_customerattributes .form-group {
    float: left;
}
div#onepagecheckoutps #onepagecheckoutps_step_one .bestkit_customerattributes .form-group .form-control-valign,
div#onepagecheckoutps #onepagecheckoutps_step_one .bestkit_customerattributes .form-group .form-control-comment{
    padding-top: 0;
}
div#onepagecheckoutps .checkout_feilds_wrapper {
    padding: 0;
}
div#onepagecheckoutps #onepagecheckoutps_step_two #packetery-widget br {
    display: none;
}
div#onepagecheckoutps div#onepagecheckoutps_step_three div#block-card-number {
    width: 100%;
}
/*****************************END Support modules*****************************/

/* CSS is added for the hidden-sm-up class since some templates do not have it */
@media (min-width:576px){.hidden-sm-up{display:none!important}}
@media (min-width:576px){.hidden-sm-up{display:none!important}}

#onepagecheckoutps .image_product img {
    max-width: 100%;
    height: auto;
}