ul, li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.animation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  opacity: 0;
}

.animation-fadein {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.animation-fadein-long {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.biki {
  font-family: "syht","Microsoft YaHei", sans-serif;
}

.biki__hero {
  width: 100%;
  height: 800px;
  background: url(/modules/menu_and_product_landings/views/img/biki_hero_bg.png) no-repeat right;
}

.biki__hero-wrapper {
  width: 80%;
  height: 100%;
  margin: auto;
}

.biki__hero-container {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.biki__hero-container h2 {
  font-size: 50px;
  font-family: "syht","Microsoft YaHei", sans-serif;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
}

.biki__hero-container p {
  font-size: 18px;
  color: #ffffff;
  font-family: "syht","Microsoft YaHei", sans-serif;
}

.biki__hero-video {
  margin-top: 30px;
}

.biki__rotation {
  width: 100%;
  padding: 90px 0;
}

.biki__rotation-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.biki__rotation-image img {
  width: 100%;
}

.biki__rotation-wrapper {
  width: 80%;
  height: 100%;
  margin: auto;
}

.biki__rotation-wrapper h2 {
  font-size: 30px;
  text-align: center;
  color: #4c4c4c;
  font-weight: 500;
}

.biki__rotation-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.biki__rotation-bg {
  margin: 50px 0;
}

.biki__rotation-image {
  width: 600px;
  display: none;
}

.biki__rotation-image--active {
  display: block;
}

.biki__rotation-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.biki__rotation-option a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  text-decoration: none;
}

.biki__rotation-option a span {
  text-align: center;
  margin-top: 10px;
  color: #999999;
  font-size: 16px;
}

.biki__block {
  width: 100%;
  background-size: cover;
  overflow: hidden;
}

.biki__block-wrapper {
  width: 80%;
  margin: auto;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.biki__block-wrapper h2 {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
}

.biki__block-wrapper a {
  width: 50px;
  padding: 10px 80px 10px 10px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  background: url(/modules/menu_and_product_landings/views/img/img-149.png) no-repeat 100px #ffffff;
  color: #666666;
}

.biki__block-wrapper a:hover {
  background: url(/modules/menu_and_product_landings/views/img/img-148.png) no-repeat 101px 10px #00aeff;
  color: #ffffff;
}

.biki__block--control {
  background: url(/modules/menu_and_product_landings/views/img/control-bg.png) no-repeat;
  background-size: 100% 100%;
}

.biki__block--control img {
  width: 70%;
  margin: 20px auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.biki__block--obstacle {
  background: url(/modules/menu_and_product_landings/views/img/img-87.png) no-repeat center;
  height: 750px;
}

.biki__block--gps {
  background: url(/modules/menu_and_product_landings/views/img/gps-bg.png) no-repeat;
  background-size: cover;
}

.biki__block--camera {
  background: url(/modules/menu_and_product_landings/views/img/img-91.png) no-repeat;
  background-size: cover;
}

.block__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__img-wrap {
  position: relative;
  width: 40%;
  margin: 20px;
}

.block__img-wrap div {
  position: absolute;
  background: url(/modules/menu_and_product_landings/views/img/img-134.png) no-repeat bottom right;
  background-size: cover;
  right: 0;
  top: 0;
  border-bottom: 0;
  width: 0;
  height: 100%;
  width: 100%;
}

.block__img-wrap img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.img-label {
  width: 35% !important;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: -5%;
  top: -15%;
  margin: 0;
}

.biki__block-camera__subtitle {
  line-height: 1.1;
  margin-top: 0;
}

.block__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.camera__icon {
  width: 160px;
  color: #ffffff;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.camera__icon img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.camera__icon span {
  display: block;
}

.biki__gimbal {
  width: 100%;
  background: url(/modules/menu_and_product_landings/views/img/img-95.png);
  background-size: cover;
  padding: 7% 0;
}

.biki__gimbal-wrapper {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.biki__gimbal-content {
  width: 50%;
  padding: 0 15px;
  line-height: 1.3;
}

.biki__gimbal-content p {
  font-size: 30px;
  color: #ffffff;
}

.biki__gimbal-img {
  width: 90%;
}

.biki__gimbal-img img {
  width: 90%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.biki__gimbal-icon__block {
  width: 50%;
  margin: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.biki__gimbal-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.biki__gimbal-icon img {
  margin: 10px 40px;
}

.biki__gimbal-icon span {
  display: inline-block;
  color: #ffffff;
}

.biki__bottom-icon {
  width: 70%;
  margin: 50px auto;
}

.biki__bottom-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.biki__bottom-icon ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  width: 14%;
}

.biki__bottom-icon ul li img {
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.biki__bottom-icon ul li span {
  color: #999999;
  padding-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .biki__gimbal-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .biki__gimbal-content {
    width: 90%;
    margin: auto;
  }
  .biki__gimbal-img {
    width: 90%;
    margin: auto;
  }
  .biki__bottom-icon ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .biki__bottom-icon ul li {
    width: 30%;
  }
  .block__img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block__img-wrap {
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }
  .biki__block--control img {
    width: 90%;
  }
}
/*# sourceMappingURL=biki.css.map */