.poseidon__hero {
  height: 100vh;
  background: url(/modules/menu_and_product_landings/views/img/poseidon-pc-header-dj.jpg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.poseidon__hero h2 {
  font-size: 48px;
}

.poseidon__hero p {
  font-size: 21px;
  font-weight: 600;
}

.poseidon__details {
  background-color: #FAFAFA;
}

.poseidon__details-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: auto;
  padding-top: 80px;
}

.poseidon__details-item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  color: #4F4F4F;
  text-align: center;
}

.poseidon__details-item h4 {
  font-size: 30px;
  margin: 10px 0;
}

.poseidon__details-item p {
  font-size: 16px;
  margin: 0;
}

.poseidon__details-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.poseidon__property {
  background: url(/modules/menu_and_product_landings/views/img/poseidon-pc-two.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.poseidon__property h3 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 0;
  padding: 50px 0 20px;
}

.poseidon__property-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 780px;
  width: 80%;
  margin-top: 50px;
}

.poseidon__property-item {
  padding: 0 70px;
  border-right: 1px solid #ffffff;
}

.poseidon__property-item:nth-child(3) {
  border: none;
}

.poseidon__property--born {
  background: url(/modules/menu_and_product_landings/views/img/poseidon-pc-four.jpg) no-repeat center;
  background-size: cover;
}

.poseidon__feature {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.poseidon__feature h3 {
  font-size: 36px;
  font-weight: 500;
  margin: 40px 0;
}

.poseidon__feature p {
  font-size: 15px;
  max-width: 600px;
  text-align: center;
  line-height: 1.5;
  margin: 0 0 50px;
}

.poseidon__feature img {
  padding: 50px 0;
}

.poseidon__feature--battary {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.poseidon__mobile {
  display: none;
}

.poseidon__mobile-block-img {
  background: url(/modules/menu_and_product_landings/views/img/poseidon-move-01.jpg) no-repeat center;
  min-height: 500px;
}

.poseidon__mobile-block-img--2 {
  background: url(/modules/menu_and_product_landings/views/img/poseidon-move-09.jpg) no-repeat center;
  min-height: 500px;
  color: #ffffff;
}

.poseidon__mobile-block-img--2 h2 {
  padding: 50px 0 10px;
}

.poseidon__mobile-block-img--2 p {
  text-align: center;
}

.titan_mobile-block--poseidon {
  background: url(/modules/menu_and_product_landings/views/img/poseidon-move-bg.jpg) no-repeat center;
  background-size: cover;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.poseidon_block h2 {
  padding-bottom: 0 !important;
}

.poseidon_spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .poseidon__mobile {
    display: block;
  }
  .poseidon {
    display: none;
  }
}
/*# sourceMappingURL=poseidon.css.map */