.shark__hero {
  width: 100%;
  height: 100vh;
  background: url(/modules/menu_and_product_landings/views/img/whiteshark-hero-1.jpg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.shark__hero-content {
  width: 30%;
  padding-top: 23%;
  padding-right: 10%;
}

.shark__hero-content h1 {
  color: #ffffff;
  font-size: 32px;
  text-shadow: 0px 3px 3px rgba(22, 22, 22, 0.5);
}

.shark__hero-content h2 {
  font-size: 24px;
  color: #00aae8;
}

.shark__hero-content p {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.5px;
}

.shark__experience-title {
  margin: 0;
}

.shark__swiper-pagination {
  margin-top: 50px;
}

.shark__swiper-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border: 2px solid #cccccc;
}

.shark__swiper-pagination .swiper-pagination-bullet-active {
  background-color: #cccccc;
}

@media (max-width: 768px) {
  .shark__hero-content {
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
  }
}
/*# sourceMappingURL=shark.css.map */