#player {
  width: 90%;
}

.swii__hero {
  width: 100%;
  height: 100vh;
  background: url(/modules/menu_and_product_landings/views/img/swii_hero_bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.swii__hero-contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 25%;
  right: 25%;
}

.swii__hero-contant img {
  width: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}

.swii__hero-contant h1 {
  font-size: 32px;
  color: #25347a;
  margin: 0;
}

.swii__hero-contant p {
  font-size: 18px;
  margin: 10px 0;
}

.swii__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swii__block--revers {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.swii__block-image {
  margin: 50px auto;
  width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swii__block-item {
  width: 50%;
}

.swii__block-item--left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.swii__block-item--left-action {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.swii__block-item--right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.swii__block-item--right-action {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.swii__block-item__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E7E7E7;
}

.swii__block-item__content h1 {
  color: #1a3166;
  font-size: 30px;
  padding-left: 50px;
  margin: 30px 0;
}

.swii__block-item__content ul {
  padding-left: 70px;
}

.swii__block-item__content ul li {
  color: #1c0000;
  font-size: 16px;
  line-height: 1.7;
  list-style: disc !important;
}

.swii__block-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swii__block-item_text--left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 1s;
  transition: 1s;
}

.swii__block-item_text--left-action {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.swii__block-item_text--right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 1s;
  transition: 1s;
}

.swii__block-item_text--right-action {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.swii__experience {
  background-color: #121B21;
}

.swii__experience h2 {
  color: #ffffff;
  font-size: 34px;
  text-align: center;
  padding: 50px;
  margin: 0;
}

.swii__experience-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swii__experience-item {
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swii__experience-item img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  width: 65%;
  height: 100%;
  position: relative;
}

.swii__experience-item img::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 99;
}

.swii__experience-item p {
  font-size: 26px;
  color: #ffffff;
  text-align: center;
  margin: 20px 0;
}

.swii__experience-item__link {
  color: #ffffff;
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.swii__experience-item__link span {
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  background: none;
}

.swii__experience-item__link i {
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 2px 5px;
}

.swii__experience-item__link i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/modules/menu_and_product_landings/views/img/right-arrow-circular-outlined-button_icon-icons.com_73175.png) no-repeat center #ffffff;
  background-size: cover;
  border-radius: 50%;
}

#swii__swiper-container .swiper-slide-active img {
  width: 75%;
}

.swii__popap-video {
  width: 80%;
  height: 80%;
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  display: none;
  z-index: 99;
}

@media (max-width: 768px) {
  .swii__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .swii__block--revers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .swii__block-item {
    width: 100%;
  }
  .swii__block-image {
    width: 80%;
    margin: auto;
  }
}
/*# sourceMappingURL=swii.css.map */