body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.titan__hero {
  width: 100%;
  height: 820px;
  background: url(/modules/menu_and_product_landings/views/img/titan_hero_bg.jpg) no-repeat right;
  background-size: cover;
}

.titan__hero-logo {
  margin-top: 200px;
}

.titan__hero-content {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 150px 100px;
  color: #ffffff;
  margin: auto;
}

.titan__hero-content h1 {
  font-size: 48px;
  margin: 0;
  font-weight: 500;
  letter-spacing: 3px;
  margin-top: 10px;
}

.titan__hero-content p {
  font-size: 20px;
}

.titan__hero-content a {
  display: inline-block;
  color: #ffffff;
}

.titan__hero-content i {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.titan__hero-content i::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/modules/menu_and_product_landings/views/img/link_icon.png);
  background-size: cover;
  z-index: 9;
  padding: 5px;
}

.hero__label {
  margin: 20px 0;
}

.drone {
  background-color: #F4F4F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drone h2 {
  font-size: 42px;
  text-align: center;
  margin: 0;
  padding: 70px 10px;
  font-weight: 500;
  color: #333333;
}

.drone img {
  width: 40%;
  margin: auto;
}

.drone__icon-container {
  width: 70%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drone__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
}

.drone__icon span {
  font-size: 14px;
  color: #333333;
  padding: 10px 0;
}

.titan__proff {
  background: url(/modules/menu_and_product_landings/views/img/titan-pc-two-bj.jpg) no-repeat center;
  background-size: cover;
  height: 575px;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.titan__proff h2 {
  font-size: 40px;
  color: #ffffff;
  padding: 80px 10px 40px;
  margin: 0 auto;
}

.titan__proff p {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  line-height: 1.2;
  margin: 0;
}

#titan-one-swiper .swiper-pagination-top {
  z-index: 10;
  top: 10px;
}

.titan__slider-one {
  width: 100%;
  background-color: #000000;
  height: 500px;
}

.titan__slider-one-container {
  width: 70%;
  margin: 70px auto;
  top: -220px;
}

.titan__slider-one-wrapper {
  padding: 70px 0;
  margin-top: 250px;
}

.titan__slider-one-slide {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titan__slider-one-slide img {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.titan__explore {
  background: url(/modules/menu_and_product_landings/views/img/explore_bg.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}

.titan__explore h2 {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 70px 0 30px;
  font-weight: 500;
}

.titan__explore p {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  line-height: 1.5;
}

.titan__explore-icons {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.titan__explore-icon {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titan__explore-icon img {
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.titan__explore-icon span {
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.thrusters {
  background-color: #F4F4F4;
}

.thrusters h2 {
  font-size: 36px;
  padding-top: 90px;
  margin: 0 auto 30px;
  color: #535353;
  text-align: center;
}

.thrusters p {
  text-align: center;
}

.thrusters__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: auto;
  padding: 50px 0;
}

.thrusters__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  border-right: 1px solid #535353;
}

.thrusters__icon:last-child {
  border: none;
}

.thrusters__icon span {
  margin-top: 20px;
}

.thrusters__image {
  width: 40%;
  margin: auto;
}

.thrusters__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.titan__battery {
  background-color: #000000;
  padding-bottom: 90px;
}

.titan__battery h2 {
  color: #ffffff;
  font-size: 36px;
  padding-top: 90px;
  margin: 0 auto 30px;
  text-align: center;
}

.titan__battery p {
  text-align: center;
  color: #ffffff;
}

.titan__battery-image {
  width: 40%;
  margin: 90px auto 0;
}

.titan__battery-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.titan__accessories {
  height: 710px;
  background: url(/modules/menu_and_product_landings/views/img/titan-pc-six-bj.png) no-repeat top center;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titan__accessories-content h2 {
  color: #ffffff;
  font-size: 36px;
  text-align: center;
}

.titan__accessories-content p {
  text-align: center;
  color: #ffffff;
}

.titan__accessories-swiper {
  background-color: #F4F4F4;
}

.titan__accessories-swiper__container {
  width: 80%;
  margin: auto;
}

.titan__accessories-swiper__wrapper {
  margin-top: 200px;
  margin-bottom: 80px;
}

.titan__accessories-swiper__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titan__accessories-swiper__slide img {
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

.swiper-pagination-top {
  top: 10px;
}

.swiper-pagination-top span {
  width: 20%;
  background-color: #00000000 !important;
}

.titan__accessories-swiper .swiper-pagination-bullet-active {
  background-color: #000000;
}

.titan_spec-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titan_spec-img img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=titan.css.map */