.overview__hero {
  width: 100%;
  height: 800px;
  background: url(/modules/menu_and_product_landings/views/img/bannerE.jpg) no-repeat right;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview__hero-wrapper {
  width: 80%;
  margin: auto;
}

.overview__hero-content {
  width: 250px;
}

.overview__hero h2 {
  font-size: 40px;
  color: #fff;
  line-height: 1.2;
  margin: 0;
}

.overview__hero p {
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.overview__color {
  width: 100%;
}

.overview__color-wrapper {
  width: 80%;
  margin: auto;
}

.overview__color-wrapper h2 {
  text-align: center;
  font-size: 40px;
  margin: 50px 0;
}

.overview__color-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.overview__color-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  padding: 0 20px;
}

.overview__color-item img {
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.overview__color-item p {
  font-size: 28px;
  padding: 0 10px;
  font-weight: 600;
}

.overview__color-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  background: transparent;
}
.overview__color-gallery__item p {
  font-size: 30px;
  text-align: center;
}
.overview__color-wrapper h3 {
  margin: 40px 0;
  text-align: center;
}
.overview__color-gallery_list {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ECECEC;
  margin-top: -120px;
}

.overview__color-gallery_list h3 {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}

.overview__color-gallery-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.overview__color-gallery-text p {
  width: 25%;
  text-align: center;
  font-size: 28px;
}

.overview__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  position: relative;
}

.overview__block-img {
  width: 70%;
}

.overview__block-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overview__block-content {
  width: 30%;
  background-color: #ECECEC;
  padding: 30px;
  margin-left: -70px;
  min-height: 400px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overview__block-content h3 {
  font-size: 40px;
  text-align: center;
  margin: 0;
}

.overview__block-content p {
  font-size: 30px;
  margin-bottom: 0;
  line-height: 1.5;
}

.overview__block--revers {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.overview__block-content--revers {
  margin-right: -70px;
}

.overview__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: flex-start;
    align-items: flex-start;
  width: 80%;
  margin: 50px auto;
}

.overview__details-item {
  width: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overview__details-item img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overview__details-item p {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}
.seaflyer__spec-img img{
  width: 60%;
  display: block;
  margin: auto;
}

@media (max-width: 980px) {
  .overview__block-content {
    padding: 15px;
  }
  .overview__block-content h3 {
    font-size: 30px;
  }
  .overview__block-content p {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .overview__hero {
    background-position: -800px;
  }
  .overview__color-item {
    margin-right: 5px;
    width: 30% !important;
  }
  .overview__color-item p {
    font-size: 18px;
  }
  .overview__color-item img {
    width: 20px;
    margin-right: 10px;
    margin-left: 0;
  }
  .overview__color-gallery_list h3 {
    font-size: 28px;
  }
  .overview__color-wrapper h2 {
    font-size: 30px;
  }
  .overview__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-bottom: 3px;
  }
  .overview__block-content {
    position: relative;
    min-height: 200px;
  }
  .overview__block-img {
    width: 100%;
  }
  .overview__block-img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .overview__block-content {
    width: 100%;
    right: 0;
    text-align: center;
    margin-left: 0;
  }
  .overview__block-content--revers {
    left: 0;
    margin-right: 0;
  }
  .overview__details {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .overview__details-item {
    width: 30%;
    margin-bottom: 60px;
  }
  .overview__details-item p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .overview__color-wrapper {
    width: 100%;
  }
  .overview__color-gallery__item img {
    width: 70%;
    display: block;
    margin: auto;
  }
  .overview__color-gallery__item p {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .overview__details-item {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */