#player {
  width: 90%;
}

.swii__hero {
  width: 100%;
  height: 100vh;
  background: url(/modules/menu_and_product_landings/views/img/swii_hero_bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.swii__hero-contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 25%;
  right: 25%;
}

.swii__hero-contant img {
  width: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}

.swii__hero-contant h1 {
  font-size: 32px;
  color: #25347a;
  margin: 0;
}

.swii__hero-contant p {
  font-size: 18px;
  margin: 10px 0;
}

.swii__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swii__block--revers {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.swii__block-image {
  margin: 50px auto;
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.swii__block-item {
  width: 50%;
}

.swii__block-item--left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.swii__block-item--left-action {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.swii__block-item--right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.swii__block-item--right-action {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.swii__block-item__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E7E7E7;
  padding: 30px;
}


.swii__block-item__content h1 {
  color: #1a3166;
  font-size: 30px;
  padding-left: 50px;
  margin: 30px 0;
}
.swii__block-item__content ul {
  padding-left: 50px;
}

.swii__block-item__content ul li {
  color: #1c0000;
  font-size: 16px;
  line-height: 1.7;
  list-style: disc !important;
}

.swii__block-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swii__block-item_text--left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 1s;
  transition: 1s;
}

.swii__block-item_text--left-action {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.swii__block-item_text--right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 1s;
  transition: 1s;
}

.swii__block-item_text--right-action {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.swii__experience {
  background-color: #121B21;
}

.swii__experience h2 {
  color: #ffffff;
  font-size: 34px;
  text-align: center;
  padding: 50px;
  margin: 0;
}

.swii__experience-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swii__experience-item {
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swii__experience-item img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  width: 65%;
  height: 100%;
  position: relative;
}

.swii__experience-item img::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 99;
}

.swii__experience-item p {
  font-size: 26px;
  color: #ffffff;
  text-align: center;
  margin: 20px 0;
}

.swii__experience-item__link {
  position: relative;
  color: #ffffff;
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.swii__experience-item__link span {
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  background: none;
  padding: 5px;
}

.swii__experience-item__link i {
  position: absolute;
  top: 2px;
  right: -20px;
  width: 15px;
  height: 15px;
  margin: 2px 5px;
}

.swii__experience-item__link i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/modules/menu_and_product_landings/views/img/right-arrow-circular-outlined-button_icon-icons.com_73175.png) no-repeat center #ffffff;
  background-size: cover;
  border-radius: 50%;
}

#swii__swiper-container .swiper-slide-active img {
  width: 75%;
}

.swii__popap-video {
  width: 80%;
  position: fixed;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  display: none;
  z-index: 99;
}

.swii__popap-video__container {
  position:relative;
  padding-bottom:56.25%;
  height:0;
  overflow:hidden;
  width: 100%;
}

.swii__popap-video__container iframe, 
.swii__popap-video__container object, 
.swii__popap-video__container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.seabow__popap-video-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 99;
}

.seabow__popap-video-close span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 47%;
  left: 15%;
}

.seabow__popap-video-close span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.swii_spec-img {
  width: 60%;
  max-height: 400px;
  margin: 50px auto;
}

.swii_spec-img img {
  display: block;
  margin: 0 auto;
  width: 500px;
  max-height: 500px;
   -o-object-fit: contain;
     object-fit: contain; 
}

@media (max-width: 768px) {
  .swii__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .swii__block--revers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .swii__block-item {
    width: 100%;
  }
  .swii__block-image {
    width: 80%;
    margin: auto;
    height: auto;
  }
  .swii_spec-img {
    width: 100%;
  }
  .swii_spec-img img {
    width: 100%;
    height: 400px;
  }
  .swii__block-item__content {
    padding: 0 20px;
  }
  .seabow__hero-container h1 {
    padding: 0;
    text-align: center;
  }
    .swii__block-item__content h1 {
    padding: 0;
    padding-left: 0 !important;
    text-align: center;
  }
  .swii__block-item__content ul {
    padding-left: 20px;
  }
  .seabow__photography-content {
    padding-left: 20px !important;
  }
  .seabow__video-image {
    margin: 0 auto !important;
  }
  .swii__popap-video {
    top: 20%;
    left: 50%;
  }
}
@media (max-width: 520px) {
	.swii_spec-img {
		margin: 0 auto;
	}
  .swii_spec-img img {
    height: 300px;
  }
}
@media (max-width: 480px) {
  .swii__block-item__content h1 {
    font-size: 25px;
    margin: 10px 0;
  }
  .swii__hero {
    height: auto;
  }
  .swii__hero-contant {
    position: relative;
    top: auto;
    right: auto;
    text-align: center;
    padding: 150px 0;
  }
  .swii__hero-contant img {
    margin: auto;
  }
  .swii_spec-img img {
    width: 80%;
  }
}

/*# sourceMappingURL=swii.css.map */