.trident-s2-banner {
    background: url(/modules/menu_and_product_landings/views/img/trident_s2-banner_bg.jpg) no-repeat center;
    background-size: cover;
}

.trident-s2-banner__container {
    width: 60%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.trident-s2-banner__container h2 {
    color: #ffffff;
    font-size: 70px;
    margin: 0;
    margin-bottom: 30px;
}

.trident-s2-banner__container p {
    font-size: 40px;
    margin: 50px 0;
    line-height: 1;
}

.trident-s2-banner__logo {
    width: 50%;
    display: block;
    margin: 50px auto;
}

.trident-s2-banner_img {
    width: 70%;
    -o-object-fit: cover;
    object-fit: cover;
}

.trident-s2-block {
    width: 80%;
    margin: 0 auto 50px;
    line-height: 1.5;
    overflow-x: hidden;	
}

.trident-s2-block h3 {
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    margin: 70px 0;
}

.trident-s2-block__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.trident-s2-block__img {
    width: 40%;
}

.trident-s2-block__img img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.trident-s2-block__img-center {
    width: 50%;
}

.trident-s2-block__content-center {
    width: 50%;
}

.trident-s2-block__content {
    width: 60%;
    padding: 50px;
}

.trident-s2-block__content p {
    font-size: 25px;
}

.trident-s2-block__img--small {
    width: 30%;
}

.trident-s2-block__img--small img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.trident-s2-block__content--small {
    width: 30%;
    font-size: 25px;
    padding: 60px 20px;
}

.trident-s2-block__content--small span {
	text-align: center;
    display: block;
    margin-bottom: 30px;
}

.trident-s2-block__video {
    position: relative;
    margin-top: 50px;
    width: 100%;
}

.trident-s2-block__video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.trident-s2-block__video video {
    width: 100%;
    height: auto;
}

.trident-s2-block__video iframe {
    width: 100% !important;
}

.trident-s2-block__text {
    width: 70%;
    margin: 50px auto;
    font-size: 30px;
}

.trident-s2-block__img--lg {
    width: 50%;
    display: block;
    margin: 50px auto;
}

.trident-s2-block__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.trident-s2-block__gallery-item {
    width: 48%;
    position: relative;
    margin: 0 5px 2px 0;
}

.trident-s2-block__gallery-item img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.trident-s2-block__gallery-item span {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fefefe;
    font-size: 25px;
}

.trident-s2-block__img-center ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
   -ms-align-items: flex-start;
   		align-items: flex-start;	
}

.trident-s2-block__img-center ul li {
    width: 30%;
    margin-bottom: 60px;
}

.trident-s2-block__img-center ul li img {
    height: 70px;
    width: 70px;
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
    margin: auto;
}

.trident-s2-block__img-center ul li span {
    font-size: 22px;
    text-align: center;
    padding: 10px;
    display: block;
    color: #3a3a3a;
}

.trident-s2-block__content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
      -webkit-box-align: start;
       -ms-flex-align: start;
           align-items: flex-start;
}

.trident-s2-block__content ul li {
    width: 25%;
    margin-bottom: 60px;
}

.trident-s2-block__content ul li img {
    height: 70px;
    width: 70px;
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
    margin: auto;
}

.trident-s2-block__content ul li span {
    font-size: 22px;
    text-align: center;
    padding: 10px;
    display: block;
    color: #3a3a3a;
}

.trident-s2__block-left {
    -webkit-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    transform: translateX(-120%);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 0;
}

.trident-s2__block-left--visible {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
}

.trident-s2__block-right {
    -webkit-transform: translateX(120%);
    -ms-transform: translateX(120%);
    transform: translateX(120%);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 0;
}

.trident-s2__block-right--visible {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
}

@media (max-width: 768px) {
    .trident-s2-banner__logo {
        width: 100%;
        margin: 30px auto;
    }
    .trident-s2-banner_img {
        width: 100%;
    }
    .trident-s2-block__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .trident-s2-banner__container h2 {
        padding-top: 10px;
    }
    .trident-s2-banner__container p:last-child {
        margin-top: 0;
    }
    .trident-s2-block__content,
    .trident-s2-block__img,
    .trident-s2-block__img--small,
    .trident-s2-block__content--small,
    .trident-s2-block__img--lg,
    .trident-s2-block__text {
        width: 100%;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        padding: 0px;
        opacity: 1;
        margin-top: 10px;
    }
    .trident-s2-block__video iframe {
        height: 400px;
    }
    .trident-s2-block__content p {
        padding-bottom: 20px;
    }
    .trident-s2-block {
        margin: 0 auto;
    }
}

@media (max-width: 560px) {
    .trident-s2-banner__container h2 {
        font-size: 40px;
        text-align: center;
    }
    .trident-s2-banner__container p {
        font-size: 25px;
    }
    .trident-s2-banner__container {
        width: 90%;
    }
    .trident-s2-block h3 {
        font-size: 35px;
        margin: 20px 0 10px;
    }
    .trident-s2-block__content p {
        font-size: 20px;
        padding: 0 10px;
        text-align: center;
    }
    .trident-s2-block__content--small {
        font-size: 20px;
    }
    .trident-s2-block__content--small p {
        padding: 0 10px;
        text-align: center;
    }
    .trident-s2-block__content--small span {
        margin: 0;
    }
    .trident-s2-block {
        width: 100%;
        padding: 0 5px;
    }
    .trident-s2-block__text {
        font-size: 20px;
        margin: 20px auto;
        padding: 0 10px;
        text-align: center;
    }
    .trident-s2-block__img-center ul li,
    .trident-s2-block__content ul li {
        width: 40%;
        margin: 0;
    }
    .trident-s2-block__content ul li span,
    .trident-s2-block__img-center ul li span {
        font-size: 18px;
    }
    .trident-s2-block__gallery-item {
        width: 100%;
    }
    .trident-s2-block__video iframe {
        height: 300px;
    }
}
.performance-block-left {
    padding-top: 50px;
}
.performance-block-right {  
    padding-top: 0;
}