.posterTvGrid {
  position: relative;
  height: 450px;
}

.posterTvGrid img {
  max-width: none;
  max-height: none;
  border: 0 none;
  background: #888;
}

.posterTvGrid .contentHolder {
  position: relative;
  overflow: hidden;
}

.posterTvGrid .contentHolderUnit {
  cursor: pointer;
  position: absolute;
  width: 800px;
  height: 450px;
}

.posterTvGrid .contentHolderUnit a.elementLink {
  display: block;
  overflow: hidden;
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.posterTvGrid .contentHolderUnit img {
  width: 100%;
  height: 100%;
}

.posterTvGrid .contentHolderUnit .elementOverlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: opacity=0;
}

.posterTvGrid .contentHolderUnit .leftShadow {
  position: absolute;
  top: 23px;
  left: -174px;
  width: 174px;
  height: 224px;
  /* background: url(/modules/menu_and_product_landings/views/img/leftShadow.png) no-repeat; */
}

.posterTvGrid .contentHolderUnit .rightShadow {
  position: absolute;
  top: 23px;
  right: -174px;
  width: 174px;
  height: 224px;
  /* background: url(/modules/menu_and_product_landings/views/img/rightShadow.png) no-repeat; */
}

.posterTvGrid .leftNav,.posterTvGrid .rightNav {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  margin-top: -43px;
}

.posterTvGrid .leftNav {
  left: 7px;
  background: url("/modules/menu_and_product_landings/views/img/1.png") no-repeat;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/modules/menu_and_product_landings/views/img/slide_prev_btn.png");
}

.posterTvGrid .rightNav {
  right: 7px;
  background: url("/modules/menu_and_product_landings/views/img/2.png") no-repeat;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/modules/menu_and_product_landings/views/img/slide_next_btn.png");
}

.posterTvGrid .bottomNav {
  z-index: 140;
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 25px;
  padding: 10px 0 0;
  text-align: center;
}

.posterTvGrid .bottomNavButtonOFF {
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom:1;width: 10px;
  height: 10px;
  margin: 0 5px;
  vertical-align: top;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #c3c3c3;
}

.posterTvGrid .bottomNavButtonOFF:hover {
  background: #aaa;
}

.posterTvGrid .bottomNavButtonON, .posterTvGrid .bottomNavButtonON:hover {
  background: #69aaec;
}
