.youcan__wrapper {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #373737;
}

.youcan__wrapper h1 {
  margin-bottom: 20px;
  font-size: 70px;
  text-transform: uppercase;
}

.youcan__wrapper span {
  font-size: 30px;
  text-align: center;
  padding: 0 50px;
  border-right: 1px solid #373737;
}

.youcan__wrapper span:last-child {
  border: none;
}

.youcan__banner-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.youcan__banner-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.youcan__banner-icon {
  width: 100%;
}

.youcan__banner-icon_list {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.youcan__banner-icon_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  -webkit-box-pack: start;
    -ms-flex-pack: start;
      justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.youcan__banner-icon_list li img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.youcan__banner-icon_list li span {
  font-size: 22px;
  padding: 0;
}

.youcan__video-container {
  width: 70%;
  margin: auto;
  position: relative;
}

.youcan__video-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.youcan__video-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.youcan__video-btn img {
  width: 80%;
  margin: 5px;
  padding: 5px;
}

.youcan__video-popup {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000099;
}

.youcan__video-popup_close {
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  right: 10%;
  cursor: pointer;
  z-index: 9;
}

.youcan__video-popup_close span {
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 13px;
  left: 4px;
}

.youcan__video-popup_close span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.youcan__video-popup_container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  width: 70%;
  margin: auto;
  top: 15%;
}

.youcan__video-popup_container iframe, 
.youcan__video-popup_container object, 
.youcan__video-popup_container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64%;
}

.youcan__block {
  width: 70%;
  margin: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.youcan__block-row {
  width: 100%;
  position: relative;
}

.youcan__block-row span {
  font-size: 18px;
  color: #373737;
  padding: 5px;
  position: absolute;
  display: block;
}

.youcan__block-row h3 {
  width: 100%;
  font-size: 70px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.youcan__block-row img {
  width: 100%;
}

.youcan__block-item {
  width: 50%;
  color: #333333;
  padding: 20px;
}

.youcan__block-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.youcan__block-item h2 {
  font-size: 36px;
  margin: 0;
  text-align: left;
  padding: 0 0 20px 0;
}

.youcan__block-item p {
  font-size: 26px;
  line-height: 1.5;
}

.youcan__block-item_label {
  width: 250px !important;
}

.youcan__block-title {
  width: 70%;
  margin: auto;
}

.youcan__block-title h2 {
  font-size: 32px;
  text-align: center;
  width: 55%;
  margin: 30px auto;
  padding: 0;
}

.youcan__block-title p {
  font-size: 26px;
  text-align: center;
  width: 75%;
  margin: auto;
  line-height: 1.5;
}

.youcan__block-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 76%;
  margin: auto;
}

.youcan__block-gallery_item {
  width: 30%;
  margin: 10px;
  position: relative;
}

.youcan__block-gallery_item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.youcan__block-gallery_item span {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 26px;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  background-color: #144c89c9;
}

.youcan__block-label--1 {
  top: 6%;
  left: 4%;
}

.youcan__block-label--2 {
  top: 18%;
  left: 4%;
}

.youcan__block-label--3 {
  top: 52%;
  left: 4%;
}

.youcan__block-label--4 {
  top: 64%;
  left: 4%;
}

.youcan__block-label--5 {
  top: 4%;
  right: 4%;
}

.youcan__block-label--6 {
  top: 29%;
  right: 4%;
}

.youcan__block-label--7 {
  top: 45%;
  right: 4%;
}

.youcan__block-label--8 {
  top: 58%;
  right: 4%;
}
@media (max-width: 1400px) {
	.youcan__block--structure{
		width: 80%;
	}
}

@media (max-width: 1280px) {
  .youcan__wrapper {
    width: 90%;
  }

  .youcan__wrapper h1 {
    font-size: 50px;
  }
  .youcan__wrapper span {
    font-size: 26px;
    padding: 0 20px;
  }
  .youcan__banner-icon_list li span {
    font-size: 18px;
  }
  .youcan__video-container {
    width: 80%;
    margin: auto;
  }
  .youcan__block {
    width: 90%;
  }
  .youcan__block--structure {
  	width: 100%;	
  }
	
  .youcan__block-title {
    width: 90%;
  }
  .youcan__block-title h2 {
    font-size: 30px;
  }
  .youcan__block-title p {
    font-size: 20px;
  }
  .youcan__block-item {
    width: 90%;
  }
  .youcan__block-item h2 {
    font-size: 30px;
  }
  .youcan__block-item p {
    font-size: 20px;
  }
  .youcan__block-row h3 {
    font-size: 36px;
  }
  .youcan__block-row span {
    font-size: 18px;
  }
  .youcan__block-gallery {
    width: 90%;
  }
  .youcan__block-gallery_item span {
    font-size: 18px;
  }
}
@media (max-width: 1000px) {
	.youcan__block-row img {
		width: 80%;
		display: block;
		margin: auto;
	}
  .youcan__block-label--1 {
    top: 5%;
    left: 13%;
  }
  .youcan__block-label--2 {
    top: 16%;
    left: 13%;
  }
  .youcan__block-label--3 {
    top: 49%;
    left: 13%;
  }
  .youcan__block-label--4 {
    top: 62%;
    left: 13%;
  }
  .youcan__block-label--5 {
    top: 2%;
    right: 12%;
  }
  .youcan__block-label--6 {
    top: 28%;
    right: 13%;
  }
  .youcan__block-label--7 {
    top: 43%;
    right: 8%;
  }
  .youcan__block-label--8 {
    top: 57%;
    right: 13%;
  }
}

@media (max-width: 768px) {
  .youcan__wrapper span {
    font-size: 20px;
  }
  .youcan__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 10px;
  }
  .youcan__block img {
    padding: 0;
  }
  .youcan__block-title h2 {
    width: 90%;
    margin: auto;
  }
  .youcan__block-title p {
    width: 100%;
    margin: auto;
  }
  .youcan__block-item {
    width: 100%;
  }
  .youcan__block-gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .youcan__block-gallery_item {
    width: 100%;
  }
  .youcan__block-row span {
    font-size: 14px;
  }
  .youcan__banner-icon_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .youcan__banner-icon_list li {
    width: 30%;
  }
  .youcan__banner-icon_list li img {
    width: 70px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .youcan__banner-icon_list li span {
    font-size: 16px;
  }
  .youcan__video-container {
    width: 90%;
  }
  .youcan__block-row img {
    width: 90%;
  }
  .youcan__block-label--1, .youcan__block-label--2, .youcan__block-label--2, .youcan__block-label--2 {
    left: 8%;
  }
  .youcan__block-label--6, .youcan__block-label--7, .youcan__block-label--8 {
    right: 8%;
  }
}

@media (max-width: 560px) {
  .youcan__wrapper h1 {
    font-size: 36px;
    margin: 10px 0;
  }
  .youcan__wrapper span {
    font-size: 14px;
    padding: 0 10px;
  }
  .youcan__banner-img img {
      height: 230px;
  }
  .youcan__banner-icon_list {
    justify-content: space-between;
  }
  .youcan__banner-icon_list li {
    padding-bottom: 0;
  }
  .youcan__block-item {
    padding: 10px;
  }
  .youcan__block-item p {
    font-size: 18px;
  }
  .youcan__block-item h2 {
    font-size: 25px;
    text-align: center;
  }
  .youcan__video-container {
    margin: 10px auto;
  }
  .youcan__block-title h2 {
    font-size: 25px;
    padding-bottom: 20px;
  }
  .youcan__block-row img {
    width: 95%;
  }
  .youcan__block-row {
    padding: 10px 0;
  }
  .youcan__block-gallery_item {
    margin: 10px 0;
  }
  .title_structure {
    padding-bottom: 0 !important;
  }
}
.youcan_spec-img {
  width: 80%;
  margin: auto;
  height: 400px;
}
.youcan_spec-img img {
  width: 100%;
  object-fit: contain;
}
/*# sourceMappingURL=youcanrobot.css.map */