.leffet_page h3 {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

.leffet_page p {
  font-size: 17px;
  color: #ffffff;
  line-height: 1.5;
  text-align: justify;
}

.lefeet__hero {
  width: 100%;
  height: 100vh;
  background: url(/modules/menu_and_product_landings/views/img/lefeet__hero_bg.jpg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lefeet__hero img {
  margin-top: 30px;
}

.lefeet__hero p {
  font-size: 36px;
  color: #ffffff;
  padding-bottom: 100px;
}

.main {
  background-color: #001145;
  width: 100%;
}

.main__wrapper {
  width: 960px;
  margin: auto;
}

.lefeet__details {
  width: 90%;
  margin: auto;
  padding-top: 100px;
}

.lefeet__details img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.leffet__powerful {
  width: 70%;
  margin: auto;
}

.leffet__powerful img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.leffet__gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.leffet__gallery--bottom {
  padding-top: 10px;
}

.leffet__gallery-item {
  position: relative;
  width: 50%;
  max-height: 270px;
  margin: 0;
  padding: 0;
  border: none;
}

.leffet__gallery-item--block {
  max-height: 480px;
}

.leffet__gallery-item--bottom {
  width: 49%;
  padding-bottom: 10px;
  padding-right: 10px;
}

.leffet__gallery-item--bottom:nth-child(2) {
  padding-right: 0;
}

.leffet__gallery-item--bottom:nth-child(4) {
  padding-right: 0;
}

.leffet__gallery-item_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.leffet__gallery-item_content h3 {
  padding: 20px;
}

.leffet__gallery-item_content p {
  padding: 20px;
}

.leffet__gallery img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
}

.leffet__gallery h4 {
  color: #ffffff;
  font-size: 28px;
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
}

.leffet__modular {
  width: 70%;
  margin: auto;
  padding-top: 30px;
}

.leffet__modular-video {
  width: 100%;
}

.leffet__more {
  width: 70%;
  margin: auto;
  padding-top: 50px;
}

.leffet__prototype {
  width: 100%;
  padding-top: 50px;
}

.leffet__image {
  width: 90%;
  margin: auto;
}

.leffet__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.leffet__image p {
  font-size: 20px;
  text-align: center;
  padding-bottom: 100px;
}

@media (max-width: 960px) {
  .main__wrapper {
    width: 100%;
  }
}
/*# sourceMappingURL=lefeet.css.map */