.seabow__hero {
  width: 100%;
  height: 100vh;
  background: url(/modules/menu_and_product_landings/views/img/saebow_bg.jpg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.seabow__hero-container {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 80%;
}

.seabow__hero-container h1 {
  font-size: 48px;
  color: #999999;
  font-weight: 500;
  width: 100%;
}

.seabow__hero-container h2 {
  font-size: 28px;
  color: #ffffff;
  width: 100%;
  margin: 0;
}

.seabow__hero-container p {
  color: #c64843;
  font-size: 18px;
  line-height: 1.7;
  width: 100%;
}

.seabow__photography-wrapper {
  background: url(/modules/menu_and_product_landings/views/img/seabow-4-1024x803.png) no-repeat left bottom;
  background-size: contain;
  min-height: 600px;
  width: 53%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.seabow__photography-content {
  padding-top: 30px;
}

.seabow__photography-content h2 {
  color: #25347a;
  font-size: 32px;
}

.seabow__photography-content ul li {
  font-size: 16px;
  color: #3a3a3a;
  line-height: 1.5;
}

.seabow__video {
  width: 100%;
  min-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #121b21;
}

.seabow__video h2 {
  font-size: 32px;
  color: #ffffff;
  padding: 50px 0;
}

.seabow__video-image {
  width: 35%;
  margin: auto;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.seabow__video-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.seabow__video p {
  font-size: 30px;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
}

.seabow__popap-video {
  width: 100%;
  height: 100vh;
  display: none;
  background-color: #00000096;
  position: fixed;
  top: 0;
  left: 0;
}

.seabow__popap-video-container {
  width: 80%;
  height: 80%;
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  z-index: 99;
}

.seabow__popap-video-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  position: absolute;
  top: 0;
  right: 10px;
}

.seabow__popap-video-close span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
}
/*# sourceMappingURL=seabow.css.map */