.trident__container {
  width: 1000px;
  margin: auto;
  padding: 50px 0;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  padding-top: 80px;
  margin: 0;
}

.subtitle {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.trident__hero {
  height: 880px;
  background: url(/modules/menu_and_product_landings/views/img/trident-pc-bj.jpg) no-repeat center;
}

.trident__hero-container {
  width: 60%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ffffff;
}

.trident__hero-container h1 {
  font-size: 46px;
  margin-bottom: 0;
}

.trident__hero-container p {
  font-size: 21px;
}

.trident__specific {
  background-color: #F4F4F4;
}

.trident__image {
  width: 80%;
  margin: 50px auto;
}

.trident__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.trident__block-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.trident__block-icons_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

.trident__block-icons_item h5 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
}

.trident__block-icons_item p {
  text-align: center;
  font-size: 13px;
  line-height: 1.5;
}

.trident__discover {
  background: url(/modules/menu_and_product_landings/views/img/trident-pc-two-f1.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}

.trident__discover h2 {
  color: #ffffff;
}

.trident__discover p {
  color: #ffffff;
}

.integrated {
  background: -webkit-gradient(linear, left top, left bottom, from(#232323), to(#111111));
  background: linear-gradient(#232323, #111111);
}

.integrated h2 {
  color: #868080;
}

.integrated p {
  color: #868080;
}

.trident__image--integrated {
  margin-bottom: 0;
}

.trident__container--integrated {
  padding-bottom: 0;
}

.trident__battery {
  background-color: #000000;
}

.trident__battery h2 {
  color: #868080;
}

.trident__battery p {
  color: #868080;
}

.trident__travel {
  background: url(/modules/menu_and_product_landings/views/img/trident-pc-six-f1.jpg) no-repeat center;
  background-size: cover;
  height: 850px;
}

.trident__travel-item {
  width: 40%;
}

.trident__travel-item h2 {
  color: #ffffff;
}

.trident__travel-item p {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
}

.trident__travel .trident__block-icons {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: auto;
}

.trident__travel .trident__block-icons p {
  font-size: 12px;
}

.trident__wrapper {
  width: 80%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 150px;
}

.trident__gallery-video__container {
  width: 1200px;
  margin: 2% auto;
  overflow: hidden;
}

.mask-list {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.trident__protection {
  height: 640px;
  background: url(/modules/menu_and_product_landings/views/img/trident-pc-seven-f1.jpg) no-repeat center;
  background-size: cover;
  color: #ffffff;
}

.trident__slider-one {
  background-color: #000000;
  padding: 50px 0;
  height: 330px;
}

.trident__slider-one-container {
  width: 70%;
  margin: 100px auto;
  top: -220px;
}

.trident__slider-one-wrapper {
  width: 100%;
  margin-top: 250px;
}

.trident__slider-one-wrapper div {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trident__slider-one-wrapper div img {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-top {
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#posterTvGrid {
  margin: auto;
}

.trident-pc-nine h2, .trident-pc-nine p {
  color: #ffffff;
}

.trident__design {
  height: 850px;
  background: url(/modules/menu_and_product_landings/views/img/trident-pc-ten-f1.jpg) no-repeat center;
  background-size: cover;
}

.trident__design h2, .trident__design p {
  color: #ffffff;
}

#trident-one-swiper .swiper-button-prev {
  top: 80%;
}

#trident-one-swiper .swiper-button-next {
  top: 80%;
}

.swiper-pagination-top .swiper-pagination-bullet-active i {
  display: block !important;
  width: 0 !important;
  height: 0 !important;
  border-width: 0 20px 20px 20px !important;
  border-style: solid !important;
  border-color: transparent transparent #000 transparent !important;
  position: absolute !important;
  top: 145px !important;
  margin-left: 85px !important;
}
/*# sourceMappingURL=trident.css.map */