.trident-pc-nine {
  height: 950px;
  background-color: #000000;
}

.trident-pc-nine p.p1 {
  font-size: 36px;
  margin-bottom: 2%;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.trident-pc-nine p.p2 {
  font-size: 18px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.trident-pc-nine-top .slider {
  position: relative;
  width: 1200px;
  left: 54%;
  margin-left: -652px;
  height: 558px;
  margin-top: 40px;
}

.trident-pc-nine-top .slider-item1 {
  width: 90%;
  background: url(/modules/menu_and_product_landings/views/img/trident-pc-nine-f1.png);
}

.trident-pc-nine-top .slider-item2 {
  width: 100%;
  background: url(/modules/menu_and_product_landings/views/img/trident-pc-nine-f2.png);
}

.trident-pc-nine-top .slider-item1,.trident-pc-nine-top .slider-item2 {
  position: absolute;
  top: 0;
  background-position: left;
  background-size: cover;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.trident-pc-nine-top .slider-btn {
  position: relative;
  height: 100%;
  width: 30px;
  left: 100%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}

.trident-pc-nine-top .slider-btn:hover .slider-btn-line {
  opacity: .5;
}

.trident-pc-nine-top .slider-btn-line {
  position: absolute;
  background: url(/modules/menu_and_product_landings/views/img/trident-pc-nine-f3.png) no-repeat;
  width: 2px;
  height: 100%;
  left: 50%;
  top: 0;
  margin-left: -1px;
}

.trident-pc-nine-top .slider-btn-arrow {
  position: absolute;
  background-color: #FFFFFF;
  width: 15px;
  height: 30px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.trident-pc-nine-top .slider-btn-arrow.left {
  left: 0;
  text-align: right;
  border-radius: 15px 0 0 15px;
}

.trident-pc-nine-top .slider-btn-arrow.right {
  right: 0;
  border-radius: 0 15px 15px 0;
}

.trident-pc-nine-top .slider-btn-arrow i.iconfont {
  display: inline-block;
  position: absolute;
  top: 35%;
  width: 8px;
  height: 8px;
}

.icon-iconfontarrowleft::before {
  content: "";
  background-image: url(/modules/menu_and_product_landings/views/img/left_icon-icons.png);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 9;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
}

.icon-iconfontarrowright::before {
  content: "";
  background-image: url(/modules/menu_and_product_landings/views/img/right_icon-icons.png);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 9;
  width: 100%;
  height: 100%;
  position: absolute;
}

.trident-pc-nine-top .slider-btn-arrow.active i.iconfont {
  color: #97999B;
}

.trident-pc-nine-top .slider.dragging {
  cursor: pointer;
}

.trident-pc-nine-top .slider.dragging .slider-btn {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.trident-pc-nine-foot {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.trident-pc-nine-foot li {
  float: left;
  width: 30%;
  margin-right: 3%;
}

.trident-pc-nine-foot li h3 {
  color: #fff;
  font-size: 14px;
}

.trident-pc-nine-foot li h3 span {
  display: inline-block;
  font-size: 22px;
  padding-left: 15px;
}

.trident-pc-nine-foot li p {
  border: 1px solid #fff;
  height: 22px;
  border-radius: 25px;
  margin-top: 20px;
}

.trident-pc-nine-foot .filled {
  height: 20px;
  background-color: #00A0E9;
  border-radius: 25px;
}
