.af_filter.type-1:not(.color-group) label,
.af_filter.type-2:not(.color-group) label {
	padding-left: 18px;
	position: relative;
}
.af_filter.type-1:not(.color-group) input,
.af_filter.type-2:not(.color-group) input {
	display: none;
}
.af_filter.type-1:not(.color-group) .active label:before,
.af_filter.type-2:not(.color-group) .active label:before {
	font-family: FontAwesome;
	content: '\f00c';
	color: #555;
	z-index: 1;
	position: absolute;
	left: 5px;
	top: 4px;
	font-size: 10px;
	line-height: 10px;
	animation: checkbox-bounce .3s cubic-bezier(.7,0,.3,1);
 }
.af_filter.type-2:not(.color-group) .active label:before {
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 100%;
	display: block;
	background: #555;
	top: 5px;
	left: 6px;
}
.af_filter.type-1:not(.color-group) label:after ,
.af_filter.type-2:not(.color-group) label:after {
	content: '';
 	width: 16px;
 	height: 16px;
 	left: 2px;
 	top: 1px;
 	position: absolute;
 	border: 1px solid #DDD;
 	box-shadow: inset 0 1px 1px rgba(0,0,0,.09);
 	background: #FFF;
}
.af_filter.type-2:not(.color-group) label:after {
	border-radius: 100%;
}
/* customer filters */
.af_filter .active.has-customer-filter label.customer-filter-label:before,
.af_filter label.customer-filter-label:after {
	display: none;
}
.af_filter .has-customer-filter label.customer-filter-label {
	padding-left: 6px;
}
/* since 2.8.1 */
