{**
* Card payment REDSYS platform (SERVIRED / SERMEPA)
*
* NOTICE OF LICENSE
*
* This product is licensed for one customer to use on one installation (test stores and multishop included).
* Site developer has the right to modify this module to suit their needs, but can not redistribute the module in
* whole or in part. Any other use of this module constitues a violation of the user agreement.
*
* DISCLAIMER
*
* NO WARRANTIES OF DATA SAFETY OR MODULE SECURITY
* ARE EXPRESSED OR IMPLIED. USE THIS MODULE IN ACCORDANCE
* WITH YOUR MERCHANT AGREEMENT, KNOWING THAT VIOLATIONS OF
* PCI COMPLIANCY OR A DATA BREACH CAN COST THOUSANDS OF DOLLARS
* IN FINES AND DAMAGE A STORES REPUTATION. USE AT YOUR OWN RISK.
*
*  @author    idnovate
*  @copyright 2017 idnovate
*  @license   See above
*}

<a class="list-action-enable {if $value|escape:'htmlall':'UTF-8'}action-enabled{else}action-disabled{/if}" href="index.php?tab=AdminRedsysHostedTpv&id_redsyshosted_tpv={$tpv_id|escape:'htmlall':'UTF-8'}&changeEnvironmentRealVal&token={$token|escape:'htmlall':'UTF-8'}">
	{if $value|escape:'htmlall':'UTF-8'}<i class="icon-check"></i>{else}<i class="icon-remove"></i>{/if}
</a>