/* Category Page */

.af_pl_wrapper {
    width: 100%;
}
.catalog {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.catalog .catalog__left {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 14.5%;
    flex: 0 0 14.5%;
    max-width: 14.5%;
    margin-right: 1.5%;
}
.catalog .catalog__left > div:last-of-type {
    margin-bottom: 50px;
}
.catalog .catalog__list {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 84%;
    flex: 0 0 84%;
    max-width: 84%;
    margin-bottom: 50px
}
.products-sort {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.products-sort h5 {
    margin-right: 10px;
}
.products-sort button {
    width: 100%;
    min-width: 7rem;
    height: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding: .5rem .5rem .5rem .5rem;
    border: .0625rem solid #ccc;
    border-radius: .3125rem;
    cursor: pointer;
    font-size: .875rem;
    line-height: .875rem;
    color: #000;
}


.category-tree {
    padding: .925rem .625rem;
    background: #e20018;
    border: 1px solid #e20018;
    margin-bottom: 20px;
}
.category-tree h5 {
    display: inline-block;
    width: 100%;
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid white;
}
.category-tree ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.category-tree > ul > li > a {
    font-weight: 600;
    font-size: 16px;
}
.category-tree > ul > li > div {
    padding-left: 10px
}
.category-tree > ul > li > div a {
    font-size: 14px;
}
.category-tree a {
    color: #fff
}
.filter-mobile,.filter-mobile-btn {
    display: none;
}

.filter-mobile {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 110;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.filter-mobile__content {
    background: #ffffff;
    height: 100%;
    margin: 10px;
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.filter-mobile .close {
    margin-left: auto;
    margin-bottom: 15px;
}
.filter-mobile .close .icon {
    height: 24px;
    width: 24px;
}












/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    /**/
    .catalog {
        margin-top: 20px;
    }
    .catalog .catalog__list {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .catalog .catalog__left {
        display: none;
    }
    .filter-mobile-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .catalog .catalog__left > div:last-of-type {
        margin-bottom: 0;
    }
}

