ul, li
  list-style: none
  padding: 0
a
  text-decoration: none

.animation
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  transform: translateY(40%)
  opacity: 0

.animation-fadein
  transform: translateY(0)
  opacity: 1
  transition: all 1.5s

.animation-fadein-long
  transform: translateY(0)
  opacity: 1
  transition: all 2s
  




.biki
  font-family: "syht","Microsoft YaHei", sans-serif
.biki__hero
  width: 100%
  height: 800px
  background: url(/modules/menu_and_product_landings/views/img/biki_hero_bg.png) no-repeat right
  &-wrapper
    width: 80%
    height: 100%
    margin: auto
  &-container
    width: 50%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    h2
      font-size: 50px
      font-family: "syht","Microsoft YaHei", sans-serif
      color: #ffffff
      font-weight: 400
      margin: 0
    p
      font-size: 18px
      color: #ffffff
      font-family: "syht","Microsoft YaHei", sans-serif
  &-video
    margin-top: 30px

.biki__rotation
  width: 100%
  padding: 90px 0
  &-image
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    img
      width: 100%
  &-wrapper
    width: 80%
    height: 100%
    margin: auto
    h2
      font-size: 30px
      text-align: center
      color: #4c4c4c
      font-weight: 500
  &-container
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  &-bg
    margin: 50px 0
  &-image
    width: 600px
    display: none
    &--active
      display: block
  &-option
    display: flex
    width: 100%
    justify-content: center
    a
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 15%
      text-decoration: none
      span
        text-align: center
        margin-top: 10px
        color: #999999
        font-size: 16px
        
.biki__block
  width: 100%
  background-size: cover
  overflow: hidden
  &-wrapper
    width: 80%
    margin: auto
    padding: 50px 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    h2
      font-size: 30px
      text-align: center
      color: #ffffff
      font-weight: 400

    a
      width: 50px
      padding: 10px 80px 10px 10px
      background-color: #fff
      border-radius: 20px
      position: relative
      background: url(/modules/menu_and_product_landings/views/img/img-149.png) no-repeat 100px #ffffff
      color: #666666
      &:hover
        background: url(/modules/menu_and_product_landings/views/img/img-148.png) no-repeat 101px 10px #00aeff
        color: #ffffff
  &--control
    background: url(/modules/menu_and_product_landings/views/img/control-bg.png) no-repeat
    background-size: 100% 100%
    img
      width: 70%
      margin: 20px auto
      object-fit: cover
  &--obstacle
    background: url(/modules/menu_and_product_landings/views/img/img-87.png) no-repeat center
    height: 750px
  &--gps
    background: url(/modules/menu_and_product_landings/views/img/gps-bg.png) no-repeat
    background-size: cover

  &--camera
    background: url(/modules/menu_and_product_landings/views/img/img-91.png) no-repeat


.block__img
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  &-wrap
    position: relative
    width: 40%
    margin: 20px
    div
      position: absolute
      background: url(/modules/menu_and_product_landings/views/img/img-134.png) no-repeat bottom right
      background-size: cover
      right: 0
      top: 0
      border-bottom: 0
      width: 0
      height: 100%
      width: 100%
    img
      width: 100%
      object-fit: cover
      display: block
    

.img-label
  width: 35% !important
  object-fit: cover
  position: absolute
  left: -5%
  top: -15%
  margin: 0

.biki__block-camera__subtitle
  line-height: 1.1
  margin-top: 0

.block__icon
  display: flex
  justify-content: center
  align-items: center
.camera__icon
  width: 160px
  color: #ffffff
  margin: 0 20px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  img
    width: 50px
    height: 50px
    object-fit: cover
  span
    display: block
.biki__gimbal
  width: 100%
  background: url(/modules/menu_and_product_landings/views/img/img-95.png)
  background-size: cover
  padding: 7% 0
  &-wrapper
    width: 80%
    margin: auto
    display: flex
    justify-content: center
    align-items: center
  &-content
    width: 50%
    padding: 0 50px
    p
      font-size: 30px
      color: #ffffff
  &-img
    width: 90%
    img
      width: 90%
      margin: auto
      object-fit: cover
  &-icon__block
    width: 50%
    margin: 80px 0
    display: flex
.biki__gimbal-icon
  img
    margin: 10px 40px
  span
    display: inline-block
    color: #ffffff

.biki__bottom-icon
  width: 70%
  margin: 50px auto
  ul
    display: flex
    justify-content: space-between
    align-items: center
    li
      display: flex
      flex-direction: column
      align-items: center
      margin: 5px
      width: 14%
      img
        width: 50px
        object-fit: cover  
      span
        color: #999999
        padding-top: 20px
        text-align: center

@media (max-width: 768px)
  .biki__gimbal
    &-wrapper
      flex-direction: column
    &-content
      width: 90%
      margin: auto
    &-img
      width: 90%
      margin: auto
  .biki__bottom-icon ul
    flex-wrap: wrap
    li
      width: 30%
  .block__img
    flex-direction: column
    img
  .block__img-wrap
    width: 90%
    margin: auto
    margin-top: 50px
    
  .biki__block--control img
    width: 90%
