.leffet_page
  h3
    font-size: 24px
    color: #ffffff
    text-align: center
  p
    font-size: 17px
    color: #ffffff
    line-height: 1.5
    text-align: justify

.lefeet__hero
  width: 100%
  height: 100vh
  background: url(/modules/menu_and_product_landings/views/img/lefeet__hero_bg.jpg) no-repeat center
  background-size: cover
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  img
    margin-top: 30px
  p
    font-size: 36px
    color: #ffffff
    padding-bottom: 100px
.main
  background-color: #001145
  width: 100%
  &__wrapper
    width: 960px
    margin: auto
.lefeet__details
  width: 90%
  margin: auto
  padding-top: 100px
  img
    width: 100%
    object-fit: cover

.leffet__powerful
  width: 70%
  margin: auto
  img
    width: 100%
    object-fit: cover

.leffet__gallery
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding-top: 50px
  &--bottom
    padding-top: 10px
  &-item
    position: relative
    width: 50%
    max-height: 270px
    margin: 0
    padding: 0
    border: none
    &--block
      max-height: 480px
    &--bottom
      width: 49%
      padding-bottom: 10px
      padding-right: 10px
      &:nth-child(2)
        padding-right: 0
      &:nth-child(4)
        padding-right: 0
    &_content
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 50%
      h3
        padding: 20px
      p
        padding: 20px
        
  img
    width: 100%
    object-fit: cover
    margin: 0
    padding: 0
    border: none
    height: 100%
  h4
    color: #ffffff
    font-size: 28px
    position: absolute
    top: 20px
    left: 20px
    margin: 0
.leffet__modular
  width: 70%
  margin: auto
  padding-top: 30px
  &-video
    width: 100%

.leffet__more
  width: 70%
  margin: auto
  padding-top: 50px

.leffet__prototype 
  width: 100%
  padding-top: 50px
  
.leffet__image
  width: 90%
  margin: auto
  img
    width: 100%
    object-fit: cover
  p
    font-size: 20px
    text-align: center
    padding-bottom: 100px

@media (max-width: 960px)
  .main__wrapper
    width: 100%