.seabow__hero
  width: 100%
  height: 100vh
  background: url(/modules/menu_and_product_landings/views/img/saebow_bg.jpg) no-repeat center
  background-size: cover
  display: flex
  justify-content: flex-end
  &-container
    width: 40%
    display: flex
    justify-content: center
    flex-direction: column
    align-items: flex-start 
    height: 80%
    h1
      font-size: 48px
      color: #999999
      font-weight: 500
      width: 100%
    h2
      font-size: 28px
      color: #ffffff
      width: 100%
      margin: 0

    p
      color: #c64843
      font-size: 18px
      line-height: 1.7
      width: 100%

.seabow__photography
  &-wrapper
    background: url(/modules/menu_and_product_landings/views/img/seabow-4-1024x803.png) no-repeat left bottom
    background-size: contain
    min-height: 600px
    width: 53%
    margin: auto
    display: flex
    justify-content: flex-end
  &-content
    padding-top: 30px
    h2
      color: #25347a
      font-size: 32px
    ul
      li
        font-size: 16px
        color: #3a3a3a
        line-height: 1.5

.seabow__video 
  width: 100%
  min-height: 700px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: #121b21
  h2
    font-size: 32px
    color: #ffffff
    padding: 50px 0
  &-image
    width: 35%
    margin: auto
    cursor: zoom-in
    img
      width: 100%
      object-fit: cover
      border-radius: 20px
  p
    font-size: 30px
    line-height: 1.5
    color: #ffffff
    text-align: center
    padding-top: 20px

.seabow__popap-video
  width: 100%
  height: 100vh
  display: none
  background-color: #00000096
  position: fixed
  top: 0
  left: 0
  &-container
    width: 80%
    height: 80%
    position: fixed
    top: 10%
    left: 50%
    transform: translateX(-40%)
    z-index: 99
  &-close
    width: 30px
    height: 30px
    border-radius: 50%
    border: 1px solid #ffffff
    position: absolute
    top: 0
    right: 10px
    span
      display: block
      width: 20px
      height: 2px
      background-color: #ffffff
      transform: 

  

