.shark__hero
  width: 100%
  height: 100vh
  background: url(/modules/menu_and_product_landings/views/img/whiteshark-hero-1.jpg) no-repeat center
  background-size: cover
  display: flex
  justify-content: flex-end
  &-content
    width: 30%
    padding-top: 23%
    padding-right: 10%
    h1
      color: #ffffff
      font-size: 32px
      text-shadow: 0px 3px 3px rgba(22,22,22,0.5)
    h2
      font-size: 24px
      color: #00aae8
    p
      font-size: 16px
      line-height: 1.5
      color: #ffffff
      letter-spacing: 0.5px
    
.shark__experience-title
  margin: 0

.shark__swiper-pagination 
  margin-top: 50px

.shark__swiper-pagination .swiper-pagination-bullet
  width: 13px
  height: 13px
  border: 2px solid #cccccc

.shark__swiper-pagination .swiper-pagination-bullet-active
  background-color: #cccccc

.shark__swiper-button-next

@media (max-width: 768px)
  .shark__hero-content
    width: 90%
    margin: auto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 0
    margin: 0
    
  