.overview__hero
  width: 100%
  height: 800px
  background: url(themes/assets/images/bannerE.jpg) no-repeat right
  background-size: cover
  position: relative
  display: flex
  align-items: center
  &-wrapper
    width: 80%
    margin: auto
  &-content
    width: 250px
  h2
    font-size: 40px
    color: #fff
    line-height: 1.2
    margin: 0
  p
    color: #ffffff
    margin: 0

.overview__color
  width: 100%
  &-wrapper
    width: 80%
    margin: auto
    h2
      text-align: center
      font-size: 40px
  &-list
    display: flex
    justify-content: center
    align-items: center
    height: 80px
  &-item
    display: flex
    align-items: center
    width: 15%
    padding: 0 20px
    img
      width: 30px
      object-fit: cover
    p
      font-size: 28px
      padding: 0 10px
      font-weight: 600
  &-gallery
    display: flex
    justify-content: center
    margin-top: 50px
    background: transparent
    &_list
      width: 100%
      margin: auto
      display: flex
      justify-content: center
      flex-direction: column
      height: 300px
      align-items: center
      background-color: #ECECEC
      margin-top: -120px
      h3
        font-size: 40px
        text-align: center
    &-text
      display: flex
      width: 100%
      justify-content: center
      margin-top: 40px
      p
        width: 25%
        text-align: center
        font-size: 28px
.overview__block
  width: 100%
  display: flex
  align-items: center
  padding: 50px 0
  position: relative
  &-img
    width: 70%
    img
      width: 100%
      object-fit: cover
  &-content
    width: 30%
    background-color: #ECECEC
    padding: 30px
    position: absolute
    right: 100px
    h3
      font-size: 40px
      text-align: center
      margin: 0
    p
      font-size: 30px
      margin-bottom: 0
      line-height: 1.5
.overview__block--revers
  flex-direction: row-reverse
.overview__block-content--revers
  left: 100px

.overview__details 
  display: flex
  justify-content: center
  align-items: center
  width: 80%
  margin: auto
  &-item
    width: 16%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    img
      width: 50%
      object-fit: cover
    p
      font-size: 20px
      font-weight: 600
      text-align: center

@media (max-width: 1200px)
  .overview__color-gallery
    img
      width: 30%
      object-fit: cover
  .overview__color-gallery-text
    margin-top: 100px

@media (max-width: 980px)
  .overview__block-content
    padding: 15px
    h3
      font-size: 30px
    p
      font-size: 26px

@media (max-width: 768px)
  .overview__hero
    background-position: -800px
  .overview__color-item
    margin-right: 5px
  .overview__color-item p
    font-size: 18px
  .overview__color-item img
    width: 20px
    margin: 0 10px
  .overview__color-gallery_list h3
    font-size: 28px
  .overview__color-wrapper h2
    font-size: 30px
  .overview__block 
    flex-direction: column
    padding: 0
    margin-bottom: 3px
  .overview__block-content
    position: relative
  .overview__block-img
    width: 100%
    img
      width: 100%
      object-fit: cover
  .overview__block-content
    width: 100%
    right: 0
    text-align: center
  .overview__block-content--revers
    left: 0
  .overview__details
    flex-wrap: wrap
    &-item
      width: 30%
      p
        font-size: 14px