.swii__hero 
  width: 100%
  height: 100vh
  background: url(/modules/menu_and_product_landings/views/img/swii_hero_bg.jpg) no-repeat center
  background-size: cover
  position: relative
  &-contant
    display: flex
    flex-direction: column
    justify-content: center
    position: absolute
    top: 25%
    right: 25%
    img
      width: 180px
      object-fit: cover
      margin-bottom: 10px
    h1
      font-size: 32px
      color: #25347a
      margin: 0
    p
      font-size: 18px
      margin: 10px 0
.swii__block 
  width: 100%
  display: flex
  position: relative
  &--revers
    flex-direction: row-reverse
  &-image
    margin: 50px auto
    width: 30%
    object-fit: cover
  &-item
    width: 50%
    &--left
      transform: translateX(-100%)
      transition: all 1s
      &-action
        transform: translateX(0)
    &--right
      transform: translateX(100%)
      transition: all 1s
      &-action
        transform: translateX(0)
    &__content
      width: 100%
      height: 100%
      display: flex
      flex-direction: column
      justify-content: center
      background-color: #E7E7E7
      h1
        color: #1a3166
        font-size: 30px
        padding-left: 50px
      ul
        padding-left: 50px
        li
          color: #1c0000
          font-size: 16px
          line-height: 1.7
    img
      width: 100%
      height: 100%
      object-fit: cover
    &_text--left
      transform: translateX(-100%)
      transition: 1s
      &-action
        transform: translateX(0)
    &_text--right
      transform: translateX(100%)
      transition: 1s
      &-action
        transform: translateX(0)

.swii__experience
  background-color: #121B21
  h2
    color: #ffffff
    font-size: 34px
    text-align: center
    padding: 50px
    margin: 0
  &-wrapper
    display: flex
    padding-bottom: 50px
    align-items: center
    justify-content: space-between 
  &-item
    width: 50%
    margin: auto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    img
      object-fit: cover
      border-radius: 20px
      width: 65%
      height: 100%
      position: relative
      &::before
        content: ''
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background-color: #000000
        z-index: 99
    p
      font-size: 26px
      color: #ffffff
      text-align: center
    &__link
      color: #ffffff
      margin: auto
      text-align: center
      cursor: pointer
      span
        position: relative
        text-transform: uppercase
        font-size: 12px
        background: none
      i
        position: absolute
        width: 15px
        height: 15px
        margin: 2px 5px
        &::before
          content: ""
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: url(/modules/menu_and_product_landings/views/img/right-arrow-circular-outlined-button_icon-icons.com_73175.png) no-repeat center #ffffff
          background-size: cover
          border-radius: 50%

.swiper-slide-active img
  width: 75%
          
.swii__popap-video
  width: 80%
  height: 80%
  position: fixed
  top: 10%
  left: 50%
  transform: translateX(-40%)
  display: none
  z-index: 99

@media (max-width: 768px)
  .swii__block
    flex-direction: column
    &--revers
      flex-direction: column
    &-item
      width: 100%
  .swii__block-image
    width: 80%
    margin: auto

  
