body
  padding: 0
  margin: 0
  font-family: sans-serif
  overflow-x: hidden
a 
  text-decoration: none
.titan__hero
  width: 100%
  height: 820px
  background: url(/modules/menu_and_product_landings/views/img/titan_hero_bg.jpg) no-repeat right
  background-size: cover
  &-logo
    margin-top: 200px
  &-content
    width: 1200px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    padding: 150px 100px
    color: #ffffff
    margin: auto
    h1
      font-size: 48px
      margin: 0
      font-weight: 500
      letter-spacing: 3px
      margin-top: 10px
    p
      font-size: 20px
    a
      display: inline-block
      color: #ffffff
    i 
      position: relative
      display: inline-block
      width: 20px
      height: 20px
      margin-left: 10px
      &::before
        content: ""
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background: url(/modules/menu_and_product_landings/views/img/link_icon.png)
        background-size: cover
        z-index: 9
        padding: 5px
.hero__label
  margin: 20px 0

.drone
  background-color: #F4F4F4
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  h2
    font-size: 42px
    text-align: center
    margin: 0
    padding: 70px 10px
    font-weight: 500
    color: #333333
  img
    width: 40%
    margin: auto
  &__icon-container
    width: 70%
    margin: 50px auto
    display: flex
    justify-content: space-around
    align-items: center
  &__icon
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 15%
    span
      font-size: 14px
      color: #333333
      padding: 10px 0

.titan__proff
  background: url(/modules/menu_and_product_landings/views/img/titan-pc-two-bj.jpg) no-repeat center
  background-size: cover
  height: 575px
  justify-content: flex-start !important
  h2
    font-size: 40px
    color: #ffffff
    padding: 80px 10px 40px
    margin: 0 auto
  p
    font-size: 18px
    color: #ffffff
    text-align: center
    line-height: 1.2
    margin: 0
#titan-one-swiper .swiper-pagination-top
  z-index: 10
  top: 10px
.titan__slider-one
  width: 100%
  background-color: #000000
  height: 500px
  &-container
    width: 70%
    margin: 70px auto
    top: -220px
  &-wrapper
    padding: 70px 0
    margin-top: 250px
  &-slide
    width: 80%
    margin: auto
    display: flex
    justify-content: center
    img
      width: 70%
      object-fit: cover

.titan__explore 
  background: url(/modules/menu_and_product_landings/views/img/explore_bg.jpg) no-repeat center
  background-size: cover
  height: 100vh
  h2
    font-size: 40px
    color: #ffffff
    text-align: center
    margin: 0
    padding: 70px 0 30px
    font-weight: 500
  p
    font-size: 16px
    color: #ffffff
    text-align: center
    margin: 0
    line-height: 1.5
  &-icons
    width: 70%
    margin: auto
    display: flex
    justify-content: space-between
    align-items: center
    padding: 50px 0
  &-icon
    width: 30%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    img
      width: 100px
      object-fit: cover
    span
      color: #ffffff
      font-size: 18px
      margin-top: 20px
      text-align: center

.thrusters
  background-color: #F4F4F4
  h2
    font-size: 36px
    padding-top: 90px
    margin: 0 auto 30px
    color: #535353
    text-align: center
  p
    text-align: center
  &__icons
    display: flex
    justify-content: space-between
    align-items: center
    width: 50%
    margin: auto
    padding: 50px 0
  &__icon
    display: flex
    flex-direction: column
    align-items: center
    width: 25%
    border-right: 1px solid #535353
    &:last-child
      border: none
    span
      margin-top: 20px
  &__image
    width: 40%
    margin: auto
    img
      width: 100%
      object-fit: cover

.titan__battery
  background-color: #000000
  padding-bottom: 90px
  h2
    color: #ffffff
    font-size: 36px
    padding-top: 90px
    margin: 0 auto 30px
    text-align: center
  p
    text-align: center
    color: #ffffff
  &-image
    width: 40%
    margin: 90px auto 0
    img
      width: 100%
      object-fit: cover

.titan__accessories
  height: 710px
  background: url(/modules/menu_and_product_landings/views/img/titan-pc-six-bj.png) no-repeat top center
  background-size: 100%
  display: flex
  justify-content: center
  align-items: center
  &-content
    h2
      color: #ffffff
      font-size: 36px
      text-align: center
    p
      text-align: center
      color: #ffffff

.titan__accessories-swiper
  background-color: #F4F4F4
  &__container
    width: 80%
    margin: auto
  &__wrapper
    margin-top: 200px
    margin-bottom: 80px
  &__slide
    display: flex
    justify-content: center
    img
      object-fit: cover
      margin: auto
.swiper-pagination-top 
  top: 10px
  span
    width: 20%
    background-color: #00000000 !important

.titan__accessories-swiper .swiper-pagination-bullet-active
  background-color: #000000
