body
  padding: 0
  margin: 0
  font-family: sans-serif
ul
  list-style: none
.trident__container
  width: 1000px
  margin: auto
  padding: 50px 0
h2
  font-size: 36px
  font-weight: 500
  text-align: center
  padding-top: 80px
  margin: 0 
.subtitle
  font-size: 18px
  line-height: 1.5
  text-align: center  
.trident__hero
  height: 880px
  background: url(/modules/menu_and_product_landings/views/img/trident-pc-bj.jpg) no-repeat center
  &-container
    width: 60%
    height: 100%
    margin: auto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    color: #ffffff
    h1
      font-size: 46px
      margin-bottom: 0
    p
      font-size: 21px
.trident__specific
  background-color: #F4F4F4
.trident__image
  width: 80%
  margin: 50px auto
  img
    width: 100%
    object-fit: cover
.trident__block-icons
  width: 100%
  display: flex
  justify-content: space-between
  align-items: flex-start
  &_item
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 20%
    h5
      font-size: 20px
      text-align: center
      margin-bottom: 0
    p
      text-align: center
      font-size: 13px
      line-height: 1.5
.trident__discover
  background: url(/modules/menu_and_product_landings/views/img/trident-pc-two-f1.jpg) no-repeat center
  background-size: cover
  height: 100vh
  h2
    color: #ffffff
  p
    color: #ffffff

.integrated
  background: linear-gradient(#232323, #111111)
  h2
    color: #868080
  p
    color: #868080
.trident__image--integrated
    margin-bottom: 0

.trident__container--integrated
    padding-bottom: 0

.trident__battery
  background-color: #000000
  h2
    color: #868080
  p
    color: #868080
.trident__travel
  background: url(/modules/menu_and_product_landings/views/img/trident-pc-six-f1.jpg) no-repeat center
  background-size: cover
  height: 850px
  &-item
    width: 40%
    h2
      color: #ffffff
    p
      color: #ffffff
      font-size: 18px
      text-align: center
      padding-bottom: 20px
  .trident__block-icons
     justify-content: space-around
     width: 80%
     margin: auto
     p
       font-size: 12px
.trident__wrapper
  width: 80%
  height: 100%
  margin: auto
  display: flex
  justify-content: center
  padding-top: 150px
   

.trident__gallery-video__container
  width: 1200px
  margin: 2% auto
  overflow: hidden

.mask-list 
  display: flex !important

.trident__protection
  height: 640px 
  background: url(/modules/menu_and_product_landings/views/img/trident-pc-seven-f1.jpg) no-repeat center
  background-size: cover
  color: #ffffff

.trident__slider-one
  background-color: #000000
  padding: 50px 0
  height: 330px
  &-container
    width: 70%
    margin: 100px auto
    top: -220px
  &-wrapper
    width: 100%
    margin-top: 250px
    div
      width: 80%
      margin: auto
      display: flex
      justify-content: center
      img
        width: 70%
        object-fit: cover

.swiper-pagination-top
  top: 10px
  display: flex
  justify-content: space-around

#posterTvGrid
  margin: auto

.trident-pc-nine
  h2, p
    color: #ffffff
.trident__design
  height: 850px
  background: url(/modules/menu_and_product_landings/views/img/trident-pc-ten-f1.jpg) no-repeat center
  background-size: cover
  h2, p
    color: #ffffff
#trident-one-swiper .swiper-button-prev
  top: 80%

#trident-one-swiper .swiper-button-next
  top: 80%

.swiper-pagination-top .swiper-pagination-bullet-active i 
  display: block !important
  width: 0!important
  height: 0!important
  border-width: 0 20px 20px 20px !important
  border-style: solid !important
  border-color: transparent transparent #000 transparent !important
  position: absolute !important
  top: 145px !important
  margin-left: 85px !important