.titan_mobile
  display: none
  &-hero
    position: relative
    display: flex
    justify-content: center
    align-items: center
    img
      width: 70%
      margin: auto
      object-fit: cover
      padding-top: 150px
    &-label
      position: absolute
      top: 10px
      left: 10px
      width: 150px
      img
        padding: 0
        width: 100%

.titan_mobile-block
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  h2
    font-size: 25px
    color: #333333
    text-align: center
  p
    font-size: 16px
    color: #666666
    text-align: center
  img
    width: 90%
    margin: 20px auto
    object-fit: cover
  &-bg
    background: url(/img/poseidon-move-bg.jpg) no-repeat center
    background-size: cover
    width: 100%
    height: 500px
  &_gallery
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    &-item
      position: relative
      width: 30%
      padding: 10px
      img
        width: 100%
        object-fit: cover
      p
        font-size: 16px
        color: #fff !important
        text-transform: uppercase
        position: absolute
        top: 50%
        width: 100%
        text-align: center


.titan_mobile_block-img_text
  position: absolute
  bottom: 50px
  left: 50%
  transform: translateX(-50%)
  color: #ffffff
  text-align: center
  width: 80%
  p
    font-size: 25px
  span
    font-size: 18px
.titan_mobile-img_translate 
  margin-top: -220px !important
  padding: 0 30px

.titan_mobile-block_list
  width: 90%
  margin: auto
  h4
    font-size: 15px
    color: #333333
.titan_mobile-list
  display: flex
  ul
    width: 50%
    font-size: 10px
    color: #333333
    line-height: 2

.titan_mobile-img_full
  width: 100% !important
  padding: 0
  margin: 0

.titan_mobile_block-img
  position: relative

.titan_mobile_block-img img
  width: 100%
  object-fit: cover

.titan_mobile-block_gallery-item--trident 
  width: 45%
  img
    width: 100%
@media (max-width: 560px)
  .titan_mobile-block_gallery-item--trident 
    width: 90%
    margin: auto
